/* Fonts variables */
$fs:        'fs_joeyregular';
$fs-medium: 'fs_joeymedium';
$fs-bold:   'fs_joeybold';
$fs-light:  'fs_joeylight';

// Color system

$blue:            #0057c2;
$blue-secundary:  #0044a0;
$yellow:          #ffe946 !default;
$yellow-secundary:#fce117;
$turquoise:       #00aec7 !default;
$green:           #50cf7d !default;
$green-secundary: #00CCC9 !default;
$red:             #f3134d !default;
$white:           #ffffff !default;
$white-secundary: #fafafa;

$black:           #4c5662 !default;
$gray:            #666666 !default;

$gray-200:        #e9ecef !default;
$gray-500:        #adb5bd !default;
$gray-700:        #495057 !default;
$gray-message:    #4F4848;

$primary:       $blue !default;
$success:       $green !default;
$warning:       $yellow !default;
$danger:        $red !default;


$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "success":    $success,
    "warning":    $warning,
    "danger":     $danger,
  ),
  $theme-colors
);

// Body
//
// Settings for the `<body>` element.
$background-primary:  #f6fcff;
$background-gray:     #f3f5f9;
$body-bg:       $white !default;

/* $line-height-lg:              1.5 !default;
$line-height-sm:              1.5 !default; */

$input-bg:      $white !default;
$input-color:   $gray-700 !default;

/* Box shadow */
$box-shadow:    0 0 10px 0 #DDE6EE;
$box-shadow-black: 0 1px 6px 0 rgba(0,0,0,0.09);

/* Border radius */

$border-radius: 10px;

/* Linea */

$color-line: #c1c7d5;

$color-disable: #e2e2e2;

