.db-alert {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: auto;
  background-color: $white;

  & > .db-alert__overflow {
    position: relative;
    height: 100vh;
    min-height: 400px;
  }
}

.db-alert__close {
  position: absolute;
  top: 26px;
  left: 22px;
  z-index: 2;
  display: flex;
  align-items: center;
  color: $primary;
  cursor: pointer;

  span {
    margin-right: 10px;
    width: 18px;
    font-size: 0;
  }

  svg { width: 100%; }

  svg path { fill: $primary; }
}

.db-alert__inner {
  position: absolute;
  top: 50%;
  padding: 0 20px;
  width: 100%;
  transform: translateY(-50%);
}

.db-alert__logo {
  margin: 0 auto 51px;
  width: 154px;
  font-size: 0;

  svg { width: 100%; }
}

.db-alert__title {
  margin-bottom: 7px;
  color: $primary;
  font-size: 26px;
  line-height: 27px;
  text-align: center;
}

.db-alert__description {
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
}

/* .db-alert__button {
  padding: 19px 0;
  width: 100%;
  font-size: 18px;
}
 */
.db-alert__img--mobile {
    width: 370px;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) {

  .db-alert__img--desktop {
      width: 100%;
      height: 100vh;

  }

  .db-alert__logo { display: none; }

  .db-alert__title {
    font-size: 40px;

    br { display: none; }
  }

  .db-alert__description {
    font-size: 26px;
    margin-bottom: 30px;

    br { display: none; }
  }

  .db-alert__button {
    margin: 0 auto;
    /* padding: 24px 0px;
    width: 314px;
    font-size: 22px; */
  }
}
