* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html, body{
  font-family: $fs;
  color: $black;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

.grecaptcha-badge{
  visibility: collapse !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
}

input[type=number]{
  -moz-appearance: textfield;
}
