.breadcrumb {
  display: none;
  align-items: center;
  height: 63px;
  width: 100%;
  padding: 0 30px;
  border-bottom: 1px solid #E0E8F0;
}

.breadcrumb__current {
  display: flex;
  align-items: center;

  .bc__icon {
    font-size: 0;
    margin-right: 13px;

    svg {
      height: 26px;
    }

    svg path { fill: $primary; }
  }

  .bc__text span { display: block; }

  .bc__text span:first-child {
    font-size: 13px;
  }

  .bc__text span:last-child {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .breadcrumb { display: flex; }
}

@media screen and (min-width: 1920px) {
  .breadcrumb__current {
    .bc__text span:first-child {
      font-size: 14px;
    }
  }
}
