.bubble-message {
  position: relative;
  display: inline-block;
  padding: 16px 28px;
  min-height: 53px;
  min-width: 93px;
  background-color: $white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 5px;
  opacity: 0;
  overflow: hidden;

  p {
    margin: 0;
    font-size: 18px;
    line-height: 1;
  }

  a {
    text-decoration: underline;
  }

  .chat {
    position: absolute;
    top: 50%;
    left: 28px;
    padding: 0;
    transform: translateY(-50%);
    min-height: 21px;
  }

  &.bubble-message--full { width: 100%; }
}

.bubble-message--main {
  color: $primary;
  font-size: 20px;
}

.bubble-message--answer {
  border-top-left-radius: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #014dad;
  color: $white;

  .chat__circle:first-child,
  .chat__circle:nth-child(2),
  .chat__circle:nth-child(3) { background-color: $white; }
}

.bubble-message__emoticon {
  display: inline-block;
  margin-left: 5px;
  vertical-align: bottom;
  font-size: 0;
  svg {
    width: 100%;
  }
}

.bubble-message__emoticon { width: 20px; }

@media screen and (max-width: 320px) {
  .bubble-message p {
    font-size: 16px;
    line-height: 1.1;
  }

  .bubble-message {
    padding: 16px 24px;
    border-top-left-radius: 30px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 5px;
  }

  .bubble-message--answer {
    border-top-left-radius: 50px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 30px;
  }
}

@media screen and (min-width: 768px) {

  .bubble-message__content {
    display: flex;
  }

  .bubble-message {
    padding: 22px 28px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
  }

  .bubble-message--answer {
    border-top-left-radius: 45px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 45px;
  }

  .bubble-message__circle {
    background: $white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 3px solid #99bad6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin-right: 30px;

    svg {
      width: 100%;
    }
  }
}

@media screen and (min-width: 1200px) {
  .bubble-message {
    padding: 20px 28px;
    p { font-size: 18px; }
  }

  .bubble-message__emoticon {
    position: relative;
    top: 2px;
    width: 20px;
  }
}

@media screen and (min-width: 1920px) {
  .bubble-message {
    padding: 22px 28px;

    p { font-size: 21px; }
  }

  .bubble-message__emoticon {
    width: 25px;
  }
}

@media screen and (max-width: 768px) {
  .finalize-password-creation__bubble br { display: none; }
}


