.button {
  display: block;
  position: relative;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 2px solid transparent;
  border-radius: 60px;
  font-family: $fs-medium;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  z-index:  2;
  font-size: 18px;
  .icon {
    width: 12px;
  }

  .icon-loading {
    position: absolute;
    top: 50%;
    transform-origin: center center;
    transform: translateY(-50%);
    left: 19px;
    width: 28px;
    height: 28px;
    font-size: 0;
    svg { animation: buttonLoader 1s linear infinite }

    path { fill: $white; }
  }

  svg {
    width: 100%;
  }
}

.button--xl {
  width: 170px;
  height: 55px;
  padding: 16px 0;
}

.button-private--xl {
  width: 100%;
  padding: 21px 0;
}

.button--lg {
  width: 150px;
  height: 45px;
  padding: 11px 0;
}

.button-link--lg {
  padding: 0;
  font-size: 16px;
  color: $black;
  text-decoration: underline;
}

.button--md {
  width: 150px;
  height: 45px;
  padding: 15px 0;
}

.button--sm {
  width: 80px;
  height: 35px;
  padding: 8px 0;
  font-size: 14px;
}

.button-conversational {
  width: 100%;
  height: 55px;
  line-height: 55px;
}

.button-block--lg {
  width: 100%;
  height: 55px;
  padding: 16px 0;
}

.button-block {
  width: 100%;
  height: 55px;
  line-height: 55px;
}

.button--transparent {
  background-color: $yellow;
  color: $blue;
  border: none;
}

.button--transparentv2 {
  background-color: inherit;
  color: $white;
  border: 2px solid $white;

  &:hover {
    transition: all 0.3s;
    background-color: #FCE117;
    color: $blue;
    border: 2px solid $yellow;
  }
}

.button--transparentv3 {
  background-color: inherit;
  border: 2px solid $blue;
  color: $blue;
}

.button--gradient {
  background: $white;
  opacity: 0.1;
  color: $white;
}

.button--yellow {
  color: $blue;
  background-color: $yellow;

  &:hover {
    transition: all 0.3s;
    background-color: #FCE117;
    //box-shadow: 2px 4px 8px 0 rgba(0,0,0,.4);
    .icon-loading  { fill: $yellow; }
  }

  &:disabled {
    color: $white;
    background-color: $color-disable;
  }

  &.disabled {
    color: $white;
    background-color: #DFDFDF;
    pointer-events: none;
  }

  &:disabled.sending {
    color: $blue;
    background-color: lighten($yellow, 10%);
  }

  .icon-loading path { fill: $blue; }
}

.button-border-blue {
  color: $blue;
  background-color: $white;
  border: 2px solid $blue;
}

.button--form, .button--blue {
  background-color: $blue;
  color: white;

  .icon {
    margin-left: 14px;
  }

  &:disabled {
    background-color: #DFDFDF;
  }
}

.button__close {
  width: 40px;
  height: 40px;
  border: 2px solid $primary;
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  &::before, &::after{
    content: '';
    width: 11px;
    height: 2px;
    top: 50%;
    left: 50%;
    background: $blue;
    position: absolute;
  }
  &::before {
    bottom: -5px;
    transform:translateY(-50%) translateX(-50%) rotate(45deg);
  }
  &::after {
    bottom: 5px;
    transform: rotate(240deg);
    transform:translateY(-50%) translateX(-50%) rotate(135deg);
  }
}

.button .icon-loading svg g g path:nth-child(1) {
  animation: colorLoader 1s linear infinite;
}

.button .icon-loading svg g path:nth-child(12) {
  animation: colorLoader 1s linear .083s infinite;
}

.button .icon-loading svg g path:nth-child(10) {
  animation: colorLoader 1s linear .166s infinite;
}

.button .icon-loading svg g path:nth-child(8) {
  animation: colorLoader 1s linear .249s infinite;
}

.button .icon-loading svg g path:nth-child(6) {
  animation: colorLoader 1s linear .332s infinite;
}

.button .icon-loading svg g path:nth-child(4) {
  animation: colorLoader 1s linear .415s infinite;
}

.button .icon-loading svg g path:nth-child(2) {
  animation: colorLoader 1s linear .498s infinite;
}

.button .icon-loading svg g path:nth-child(11) {
  animation: colorLoader 1s linear .581s infinite;
}

.button .icon-loading svg g path:nth-child(9) {
  animation: colorLoader 1s linear .664s infinite;
}

.button .icon-loading svg g path:nth-child(7) {
  animation: colorLoader 1s linear .747s infinite;
}

.button .icon-loading svg g path:nth-child(5) {
  animation: colorLoader 1s linear .83s infinite;
}

.button .icon-loading svg g path:nth-child(3) {
  animation: colorLoader 1s linear .913s infinite;
}

@keyframes colorLoader {
  0% {
    fill: transparent;
  }
  100% {
    fill: inherint;
  }
}

@media screen and (min-width: 768px) {

  .button--lg {
    width: 170px;
    height: 55px;
    padding: 15px 0;
  }

  .button-block--lg {
    width: 170px;
  }

  .button--sm {
    width: 115px;
    height: 40px;
    padding: 8px 0;
    font-size: 18px;
  }

  .button--transparent {
    background-color: inherit;
    color: $white;
    border: 2px solid $white;

    &:hover {
      transition: all 0.3s;
      background-color: #FCE117;
      color: $blue;
      border: 2px solid $yellow;
    }
  }

}

@media screen and (min-width: 1024px) {
  .button-private--xl {
    width: 290px;
    padding: 23px 0;
  }

  .button-block {
    height: 65px;
  }

  .button-conversational {
    width: 290px;
    height: 65px;
    line-height: 65px;
  }

  .button-link--lg {
    width: 150px;
    height: 45px;
    padding: 11px 0;
    color: $blue;
    background-color: $yellow;
    font-size: 18px;
    text-decoration: none;
    &:hover {
      transition: all 0.3s;
      background-color: #FCE117;
      //box-shadow: 2px 4px 8px 0 rgba(0,0,0,.4);
    }
  }

  .button--transparentv3 {
    background-color: inherit;
    border: 2px solid $blue;
    color: $blue;
    &:hover {
      transition: all 0.3s;
      background-color: $blue;
      color: $white;
    }
  }


}
