
.chat {
  display: inline-flex;
  align-items: center;
  padding: 10px;
}

.chat__circle {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-right: 5px;
  border-radius: 50%;

}

.chat__circle:first-child {
  /*opacity: .9;*/
  background-color: #005fa4;
  animation: f .9s linear infinite;
}
.chat__circle:nth-child(2) {
  /*opacity: .3;*/
  background-color: #0089c9;
  animation: f .9s .225s linear infinite;
}
.chat__circle:nth-child(3) {
  /*opacity: .6;*/
  background-color: #00b2ec;
  animation: f .9s .45s linear infinite;
}


@keyframes f {
  0% {
    transform: translateY(0);
  }
  25% {
      transform: translateY(5px);
  }
  50% {
      transform: translateY(0);
  }
  75% {
      transform: translateY(-5px);
  }
  100% {
      transform: translateY(0);
  }
}
