.shadow-container {
  position: relative;
  padding: 20px 30px;
  width: 100%;
  background-color: $white;
  border-radius: $border-radius;
}

.blue-container {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: $primary;
  overflow: hidden;

  & > div { width: 100%; }

  .loader-spinner__bounce1, .loader-spinner__bounce2 { background-color: $white; }
}

.blue-container__base {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  font-size: 0;

  picture {
    display: block;
    width: 100%;
  }

  img { width: 100%; }
}

@media screen and (max-height: 568px) {
  .blue-container > div { margin: 20px 0; }
  .blue-container > .blue-container__base { margin: 0; }
}

@media screen and (max-width: 320px) {
  .shadow-container {
    padding: 20px 26px;
  }
}

@media screen and (min-width: 768px) {
  .shadow-container {
    box-shadow: none;
    border-radius: 0px;
  }

  .shadow-container-desktop {
    position: relative;
    width: 100%;
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }

  .container--border {
    display: block;
    background: #0b528c;
    border: 15px solid #0b528c;
    .header-form {
      background-color: $primary;
      margin-top: 25px;
    }
  }
  .container__wrapper {
    background: $primary;
    position: absolute;
    border-radius: 25px;
    border: 2px solid $primary;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .container__wrapper-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 200px);
  }
}

@media screen and (min-width: 1024px) {
  .shadow-container {
    padding: 20px 54px;
  }
}

@media screen and (min-width: 1200px) {
  .shadow-container {
    padding: 20px 30px;
  }
}
