.conversation-container {
  display: block;
  width: 100%;
  margin-top: 15px;

  &.no-margin {
    margin-top: 0;
  }
}

.conversation-bubble {
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  padding: 15px;

  &.bubble--main {
    .bubble__text {
      color: $primary;
      font-size: 17px;
    }
  }
}

.bubble__text {
  color: $black;
  font-size: 16px;
}