.countdown {
  position: relative;
  font-size: 0;
}

.countdown svg {
  width: 100%;
}

.countdown__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
  text-align: center;
  line-height: 1;

  span.countdown__seconds {
    display: block;
    font-size: 13px;
    line-height: 1;
    text-transform: uppercase;
  }
}

.countdown svg circle:first-child {
  stroke-dasharray: 310px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 4.8px;
  stroke: #3692DE;
  fill: none;
}

.countdown svg circle:last-child {
  stroke-dasharray: 310px;
  stroke-dashoffset: 310px;
  stroke-linecap: round;
  stroke-width: 5px;
  stroke: #ecd431;
  fill: none;
  transform: rotateZ(-90deg);
  transform-origin: center center;
  animation-name: countdown;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  /* animation: countdown 20s linear forwards; */

  &.countdown__animation {
    animation-name: countdown;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
}

.countdown__description {
  position: absolute;
  top: 50%;
  right: 130%;
  width: 100%;
  display: inline-block;
  padding: 13px 0;
  width: 190px;
  color: #14609F;
  font-size: 14px;
  transform: translateY(-50%);
  background-color: #BEE2FF;
  border-radius: 50px;
  text-align: center;
}

.countdown__triangle {
  position: absolute;
  top: 50%;
  left: 98%;
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 11px solid #BEE2FF;
  transform: translateY(-50%);
}

@keyframes countdown {
  from {
    stroke-dashoffset: 310px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

@media screen and (min-width: 768px) {
  .countdown__text {
    font-size: 28px;

    span { font-size: 18px; }
  }

  .countdown__description {
    width: 223px;
    font-size: 16px;
  }

  .countdown__triangle {
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #BEE2FF;
  }
}

