.date-selector-period {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.date-selector-period__arrow {
  position: absolute;
  right: 0;
  top: 50%;
  svg { width: 6px;}

  transform: translateY(-50%);
}

.date-selector-period__select {
  background: inherit;
  display: block;
  width: 100%;
  padding: 6px 20px 8px 0;
  border: none;
  border-radius: 0;
  line-height: 25px;
  font-size: 18px;
  border-bottom: 1px solid $gray;

  &.is-focused {
    border-bottom: 2px solid $blue;
  }

}

.date-selector-period__label {
  opacity: 1;
  top: -8px;
  font-size: 14px;
}

.date-selector-period__options {
  max-height: 274px;
  overflow: auto;
}

.date-selector-period__month {
  width: 50%;
  outline: none;
}

.date-selector-period__year {
  width: 43%;
  outline: none;
}

.date-selector-period__month,
.date-selector-period__year {
  .custom-select-trigger {
    font-size: 18px;
    font-family: $fs-bold;
    font-weight: 700;
  }

  .date-selector-period__options {
    font-family: $fs-bold;
    font-weight: 700;
  }
}

@media screen and (min-width: 1024px) {
  .date-selector-period__month {
    width: auto;
    outline: none;
    min-width: 150px;
  }

  .date-selector-period__year {
    width: auto;
    outline: none;
    min-width: 100px;
  }

}
