.date-selector {
  display: flex;
  padding: 0 15px;
  width: 100%;
  background-color: $white;
  border-radius: 50px;

  .custom-select {
    display: block;
    padding: 16px 0;
  }

  .custom-options {
    max-height: 274px;
    overflow: auto;
  }

  .custom-option { padding: 10px; }
}

.date-selector__day,
.date-selector__month,
.date-selector__year {
  outline: none;

  .custom-select-trigger { font-size: 16px; }
}

.date-selector__day {
  width: 25%;

  .custom-select {
    padding: 16px 12px 16px 0;
    border-right: 1px solid black;
  }

  .custom-select-arrow { right: 12px; }
}

.date-selector__month {
  width: 50%;

  .custom-select {
    padding: 16px 12px;
    border-right: 1px solid black;
  }
  .custom-select-arrow { right: 12px; }
}

.date-selector__year {
  width: 25%;

  .custom-select {
    padding: 16px 0 16px 12px;
  }
}

.date-selector--yellow {
  background-color: $yellow;
  color: $blue;

  .custom-options {
    background-color: $yellow;
    border: 1px solid $blue;
  }
  .custom-option { border-bottom: 1px solid $blue; }
  .custom-select-arrow svg g { fill: $blue; }
  .custom-option:hover,
  .custom-option.selection { background-color: #ffee7b; }

  .date-selector__day .custom-select,
  .date-selector__month .custom-select { border-right: 1px solid $blue; }
}

@media screen and (min-width: 768px) {
  .date-selector {
    font-size: 20px;

    .custom-options { max-height: 253px; }
    .custom-option { font-size: 19px; }
  }

  .date-selector__day, .date-selector__month, .date-selector__year {
    .custom-select-trigger { font-size: 20px; }
  }

  .date-selector__day .custom-select {
    padding: 22px 12px 22px 0;
  }

  .date-selector__month .custom-select {
    padding: 22px 12px;
  }

  .date-selector__year .custom-select {
    padding: 22px 0 22px 12px;
  }
}
