@font-face {
  font-family: 'fs_joeyregular';
  src: url($urlBase + '/statics/assets/fonts/fs_joey-webfont.woff2') format('woff2'),
        url($urlBase + '/statics/assets/fonts/fs_joey-webfont.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'fs_joeybold';
  src: url($urlBase + '/statics/assets/fonts/fs_joey-bold.woff2') format('woff2'),
        url($urlBase + '/statics/assets/fonts/fs_joey-bold.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'fs_joeylight';
  src: url($urlBase + '/statics/assets/fonts/fs_joey-light.woff2') format('woff2'),
        url($urlBase + '/statics/assets/fonts/fs_joey-light.woff') format('woff');
}

@font-face {
  font-family: 'fs_joeymedium';
  src: url($urlBase + '/statics/assets/fonts/fs_joey-medium.woff2') format('woff2'),
        url($urlBase + '/statics/assets/fonts/fs_joey-medium.woff') format('woff');
  font-style: normal;
}
