.footer-bar {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  background-color: $white;
  border-top: 1px solid #E9F3FD;
  z-index: 20;
  padding: 12px 15px;
}

.footer-bar__report-360{
  color: $sura-blue;
}

.footer-bar__wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-bar__text{
  // margin-left: 20px;
  display: none;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.footer-bar__item {
  flex: 1 1;
  padding: 8px 0;
  text-align: center;
  border-bottom: 2px solid transparent;
}

.footer-bar__item.item--active {
  border-bottom: 3px solid $primary;

  .fbi__image svg path { fill: $primary; }
  .fbi__text { color: $primary; }
  .fbi__image[data-image="f-home"] svg path:nth-child(3){ stroke: $primary; fill: none; }
}

.fbi__image {
  font-size: 0;

  svg { height: 24px; }
  svg path { fill: #A0AAB3}

  &[data-image="f-home"] svg path:nth-child(3){ stroke: #A0AAB3; fill: none; }
}

.fbi__text {
  color: #A0AAB3;
  font-size: 12px;
  line-height: 19px;
  font-family: $fs-medium;
  font-weight: 500;
}

.footer-bar__content-fake{
  display: none;
}

.footer-bar__eecc{
  display: flex;
}

@media screen and (min-width: 375px){
  .footer-bar{
    padding: 12px 20px;
  }

  .footer-bar__report-360 br{
    display: none;
  }

  .footer-bar__button-container{
    .e-button{
      padding: 10px 20px;
    }
  }

  .footer-bar__wrapper{
    .e-p2{
      line-height: 18px;
    }
  }

  .footer-bar__text{
    display: flex;
    max-width: 165px;
  }
}

@media screen and (min-width: 768px){
  .footer-bar__content-fake{
    display: block;
    width: 160px;
  }
  .footer-bar__text{
    max-width: unset;
    padding-right: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-bar__report-360,
  .footer-bar__content-fake{
    display: none;
  }

  .footer-bar__text{
    display: flex;
    margin-right: 14px;
    align-items: center;
    flex-direction: row;
  }
  // .footer-bar {
  //   margin-left: 202px;
  // }
  .footer-bar__wrapper{
    width: calc(100% - 202px);
    display: flex;
    justify-content: center;
  }
  .footer-bar__button-container{
    padding-left: 2px;
  }
  .footer-bar__text{
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  // .footer-bar {
  //   margin-left: 220px;
  // }
  .footer-bar__wrapper{
    width: calc(100% - 220px);
  }
}

@media screen and (min-width: 1600px) {
  // .footer-bar {
  //   margin-left: 250px;
  // }
  .footer-bar__wrapper{
    width: calc(100% - 250px);
  }
}
