/* Form variables */
$input-color: "#000000";
$input-bg: "#ffffff";

/* Auto fill chrome */

// Form validation
//
// Provide feedback to users when form field values are valid or invalid. Works
// primarily for client-side validation via scoped `:invalid` and `:valid`
// pseudo-classes but also includes `.is-invalid` and `.is-valid` classes for
// server side validation.
input {
  &:focus {
    outline: none;
  }
  color: $black;
}

/* select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
} */

button {
  outline: none;
}

.form-row {
  position: relative;
  padding-left: 38px;
  margin-top: 40px;

  &.form-row--select-new{
    width: 100%;
    padding-left: 0;
    margin-top: 0;
    padding-top: 10px;
    margin-bottom: 0;

    .form-icon{
      display: none;
    }

    .custom-select-arrow{
      top: 35%;
    }

    .form-statement--select{

      .form-statement__label{
        cursor: pointer;
      }

      .form-statement__control{
        min-height: 42px;
        cursor: pointer;
      }

      .custom-select-trigger{
        font-size: 18px;
      }

      .custom-options{
        max-height: 48px;
        overflow: hidden;
      }

      &.opened{
        .custom-options{
          max-height: 192px;
          overflow-y: auto;
        }
      }
    }
  }

  &.form-row--select-white{

    .form-statement--select{

      svg g{
        fill: white;
      }

      .form-statement__label{
        color: white;
      }

      .form-statement__control{
        border-bottom: 2px solid white;
      }

      .custom-select-trigger{
        color: white;
      }

      &.opened{
        .form-statement__control{
          border-bottom: 2px solid white;
        }
      }
    }
  }

  &.form-row--select-gray{
    .form-statement--select{
      .form-statement__control{
        border-bottom: 1px solid #4C5662;
      }

      &.opened{
        .form-statement__control{
          border-bottom: 1px solid #4C5662;
        }
      }
    }
  }
}


.form-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 22px;
  font-size: 0;

  svg g,
  svg path,
  svg rect {
    fill: #0353AA;
  }
}

.form-statement {
  position: relative;
  display: inline-block;
  width: 100%;
  &.onfocus  .form-statement__bottom {
    height: 1px !important;
    background: $black !important;
  }
}

.form-icon-validation {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 20px;
  svg {
    width: 100%;
    height: 18px;
  }
}

.form-icon-action {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  svg { width: 100%; }
  svg g { fill: black; }

  span {
    cursor: pointer;
    background: white;
    padding: 15px 10px 9px 10px;
    color: #4C5052;
    font-size: 14px;
    font-family: $fs-medium;
    text-transform: uppercase;
  }

}

.form-statement {
  .check__valid {
    stroke-dashoffset: 500px;
    transition: stroke-dashoffset 600ms cubic-bezier(0.07,-0.01, 1, 0.07);
    animation: checkvalid 0.35s forwards;
  }
}

/* SVG */


@keyframes checkvalid {
  to {
    transition-delay: 300ms;
    stroke-dashoffset: 0;
  }
}

.check-icon {
  transform: scale(1.5);
}


.form-statement-calendar {
  position: relative;
  padding: 2em 0 0;
  display: inline-block;
  width: 30%;
  margin: 5px 0;
}

.form-error {
  color: $danger;
  font-size: 13px;
  margin: 20px 0 5px;
}

/** Select **/
.custom-select {
  position: relative;
  display: inline-block;
}

.custom-select-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;

  svg { width: 100%; transition: transform 0.35s linear; }
  svg g { fill: black; }

  &.open svg{
    transform: rotate(-180deg);
  }

  &.open svg g { fill: #0353AA; }
}

.custom-options {
  position: absolute;
  z-index: -1;
  top: 100%; left: 0; right: 0;
  width: 100%;
  margin: 1px 0;
  border: 1px solid #D2D2D2;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0,0,0,.07);
  background: #fff;
  transition: all .4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
  border-radius: 0
}

.custom-option {
  display: block;
  position: relative;
  padding: 11px 20px;
  font-size: 16px;
  border-bottom: 1px solid #D2D2D2;
  cursor: pointer;
  transition: all .4s ease-in-out;

  &:last-child {
    border-bottom: 0;
  }
}

.custom-option.selection {
  background: $yellow;
  color: $primary;
 }

.custom-option:hover {
  background-color: #F2F5F9;
}

.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
  z-index: 10;
}


select.form-statement__control {
  &:focus::-ms-value {
    // Suppress the nested default white text on blue background highlight given to
    // the selected option text when the (still closed) <select> receives focus
    // in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
    // match the appearance of the native widget.
    // See https://github.com/twbs/bootstrap/issues/19398.
    background-color: $input-bg;
  }
}

.form-statement--select {
  outline: none;

  .form-statement__label {
    font-size: 18px;
    opacity: 1;
    top: 5px;
  }

  &.is-focused {
    .form-statement__label {
      opacity: 1;
      top: -10px;
      font-size: 14px;
    }
  }
  &.is-invalid {
    .form-statement__control {
      position: relative;
      border-bottom: 2px solid $danger!important;
    }
  }
  &.is-focused &.is-valid,
  &.is-focused {
    .form-statement__control {
      border-bottom: 2px solid $primary;
    }
  }

  &::after {
    /* content: ""; */
    border-color: $primary transparent transparent transparent;
    border-style: solid;
    border-width: 7px 5px 0 5px;
    bottom: 15px;
    height: 0;
    position: absolute;
    right: 5px;
    width: 0;
    z-index: 0;
  }
}

.form-statement--select.opened {
  &::after {
    margin-top: 3px;
    transform: rotate(-180deg) translateY(-50%);
  }
}

.form-statement__label {
  position: absolute;
  bottom: 16px;
  padding: 0;
  line-height: 2em;
  transition: all .3s cubic-bezier(0.4,0,0.2,1);
  color: $black;
  line-height: 1;
  left: 0;
  cursor: pointer;
}

.form-statement__bottom {
  height: 1px;
  width: 100%;
  position: absolute;
  background: $black;
}

.form-statement__control {
  background: inherit;
  display: block;
  width: 100%;
  padding: 6px 20px 8px 0;
  //padding: 5px 20px 5px 0;
  border: none;
  border-radius: 0;
  line-height: 25px;
  //height: 36px;
  font-size: 18px;
  font-family: $fs-bold;
  font-weight: 700;

  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  /* &.has-action  +.form-statement__label {
    top: 5px;
  } */

  &.is-valid + .form-statement__label + .form-statement__bottom,
  &:focus + .form-statement__label + .form-statement__bottom,
  &.is-focused + .form-statement__label +.form-statement__bottom {
    height: 2px;
    width: 100%;
    position: absolute;
    background: $primary !important;
    transform: scaleX(0);
    animation: Underline .3s cubic-bezier(0.4,0,0.2,1);
    animation-fill-mode: forwards;
  }

  /* &.has-action {
    padding: 5px 60px 5px 0;
  } */

  @keyframes Underline {
    100% {
      transform: scaleX(1);
      opacity: 1;
    }
  }

  &.is-invalid + .form-statement__label + .form-statement__bottom
  {
    border-bottom: 2px solid $danger;
  }


  &:focus + .form-statement__label,
  &.is-focused + .form-statement__label,
  &.is-valid + .form-statement__label,
  &.is-invalid + .form-statement__label {
    top: -10px;
    font-size: 14px;
  }
}

.form-select {
  border-radius: 5px;
}

textarea {
  height: auto;
  overflow: auto;
}

.form {
  margin: 20px auto;
  // background: theme-color("primary");
  background: $gray-200;
  padding: 20px;
}

.form-radio {
  display: inline-block;
  width: 100%;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  text-align: left;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
    border: 2px solid $gray-500;

  }

  &:hover {
    input ~ .checkmark {
      background-color: $white;

    }
  }

  input:checked ~ .checkmark {
    border: 2px solid $yellow;
    background-color: $white;
    &::before {
      content:""
    }
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  input:checked ~ .checkmark:after {
    display: block;
  }

  .checkmark:after {
    top: 4px;
    left: 4px;
    width: 15px;
    height: 15px;
    border-radius: 5px;
    background: white;
  }
}

.form-statement__error {
  color: $danger;
  font-size: 13px;
  position: absolute;
  top: 100%;
  padding-top: 2px;
}

.form--white {
  .form-statement__control {
    background: transparent;
    border-bottom: 1px solid $white;
    color: $white;
  }

  .form-statement__label {
    color: $white;
  }
}

.form-statement.form-statement-list{
  .form-statement__label { top: -20px; font-size: 14px; }
}

.form-statement__inputs {
  display: flex;
  align-items: center;

  .inputs__item {
    display: flex;
    align-items: center;
    flex: 1 1;

    .inputs__mask[data-type="radio"] {
      position: relative;
      display: block;
      height: 24px;
      width: 24px;
      border: 2px solid #C1C6D3;
      border-radius: 100%;
      margin-right: 10px;

      span {
        position: absolute;
        left: 50%;
        top: 50%;
        display: none;
        height: 16px;
        width: 16px;
        background-color: #66B1D9;
        border-radius: 100%;
        transform: translate(-50%, -50%);
      }

      input:checked ~ span {
        display: block;
      }
    }

    .inputs__mask[data-type="checkbox"] {
      position: relative;
      display: block;
      height: 20px;
      width: 20px;
      border: 2px solid #C1C6D3;
      margin-right: 10px;

      span {
        position: absolute;
        left: 50%;
        top: 50%;
        display: none;
        height: 15px;
        width: 15px;
        background-color: #66B1D9;
        border-radius: 100%;
        transform: translate(-50%, -50%);
      }

      input:checked ~ span {
        display: block;
      }
    }

    input {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
}

@media screen and (min-width: 320px) {
  .form-statement__label {
    font-size: 16px;
  }

  .form-icon-action {
    span {
      font-size: 13px;
    }
  }
}

@media screen and (min-width: 768px) {
  .form-statement__control { font-size: 22px; }

  .form-row {
    padding-left: 42px;
  }

  .form-statement__label { font-size: 18px; }
}

@media screen and (min-width: 1024px) {
  .form-icon {
    width: 26px;
  }

  .form-icon-action {
    span {
      background: $sura-background-skyblue;
    }
  }
}
