.header-public__navbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  height: 60px;
  background-color: $white;
}

.hnp__wrapper-logo {
  align-items: center;
  display: flex;
  justify-content: center;
  svg {width: 100px;}
  cursor: pointer;
}

.hnp__arrow-mobile {
  width: 14px;
  height: 8px;
  transform: rotate(90deg);
  fill: $blue;
  margin-right: 10px;
}

.hnp__hamburger-menu-wrapper {
  position: absolute;
  left: 20px;
  top: 25px;
}

.hnp__hamburger-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hnp__hamburger-menu__text {
  font-size: 14px;
  color: $blue;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header-public__navbar {
    align-items: center;
    background-color: transparent;
    padding: 0 20px;
  }

  .hnp__wrapper-logo { svg {width: 128px;} }
  .hnp__hamburger-menu__text {
    font-size: 22px;
  }

  .hnp__hamburger-menu__text-is-white {
    color: $white;
  }

  .hnp__hamburger-menu__text-is-black {
    color: $black;
  }
}

@media screen and (min-width: 1200px) {
  .header-public__navbar {
    padding: 0 40px;
  }
}

@media screen and (min-width: 1920px) {
  .header-public__navbar {
    height: 75px;
  }

  .hnp__wrapper-logo { svg {width: 140px;} }
}
