.home__navbar {
  display: none;
}

.home__navbar-mobile {
  display: block;
  position: fixed;
  z-index: 2000000;
  top: 0;
  left: 0;
  right: 0;
  background-color: $white;
  padding: 10px 20px;

  .home__burger {
    top: 50%;
    left: 0;
    background: $primary;
    width: 15px;
    height: 2px;
    display: block;
    border-radius: 25%;
    position: absolute;
    &::after, &::before {
      content: "";
      position: absolute;
      background: $primary;
      width: 15px;
      height: 2px;
      display: block;
      border-radius: 25%;
    }
    &::before {
      bottom: -5px;
    }
    &::after {
      bottom: 5px;
    }
  }

}

.home-navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-hamburger__menu {
  display: flex;
  justify-content: space-around;
}

.home-hamburger-menu__items {
  position: relative;
  width: 25px;
}

.home-hamburger-menu__text {
  font-size: 15px;
  color: $blue;
}

.home-navbar__logo {
  width: 100px;
  z-index: 1000;
  cursor: pointer;
}

.home-navbar-mobile__overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 150;
  height: 100vh;
  background: $white;
  width: 100%;
  overflow: auto;
  display: none;
  padding-left: 40px;
  padding-right: 40px;
  opacity: 0;

  &.is-active {
    display: block;
    overflow: hidden;
    animation-fill-mode: both;
    animation-duration: .5s;
    animation-name: fadeIn;
  }
  &.is-submenu {
    background: $background-gray;
    .home-navbar-mobile__center {
      margin-top: 110px;
      display: block;
    }
  }
}

.home-navbar-mobile__center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-navbar-mobile__right {
  position: absolute;
  top: 15px;
  right: 20px;
}

.home-navbar-mobile__sub-list-title {
  font-size: 18px;
  color: $primary;
  margin-bottom: 20px;
  position: relative;
}

.home-navbar-mobile__sub-item {
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.home-navbar-mobile__close {
  width: 40px;
  height: 40px;
  border: 2px solid $primary;
  border-radius: 50%;
  position: relative;

  &::before, &::after{
    content: '';
    width: 11px;
    height: 2px;
    top: 50%;
    left: 50%;
    background: $blue;
    position: absolute;
  }
  &::before {
    bottom: -5px;
    transform:translateY(-50%) translateX(-50%) rotate(45deg);
  }
  &::after {
    bottom: 5px;
    transform: rotate(240deg);
    transform:translateY(-50%) translateX(-50%) rotate(135deg);
  }
}

.home-navbar-mobile__list {
  font-size: 20px;
  width: 100%;
  background: $white;
  display: none;
  opacity: 0;
  &.is-active {
    display: block;
    opacity: 1;
  }
}

.home-navbar-mobile__sub-list {
  display: none;
  width: 100%;
  opacity: 0;
  &.is-active {
    display: block;
    opacity: 1;
    animation-fill-mode: both;
    animation-duration: 0.3s;
    animation-name: fadeInDown;
  }

  &.is-remove {
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-name: fadeOutUp;
  }

}

.home-navbar-mobile__list-item {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.home-navbar-mobile__list-item-li {
  margin-left: 25px;
}

.home-navbar-mobile__hr {
  width: 21px;
  height: 1px;
  margin-top: 15px;
  background: $color-line;
}

.home-navbar-mobile_button {
  width: 158px;
  padding: 15px 0;
  margin: 30px auto 0;
}

.home-navbar-mobile__arrow-item {
  width: 9px;
  transform: rotate(270deg);
}

.home-navbar-mobile__arrow-tittle {
  width: 12px;
  margin-right: 15px;
  padding-top: 5px;
  transform: rotate(90deg);
  g {
    fill: $blue;
  }
}

@media screen and (min-width: 1200px) {
  .home__navbar-mobile {
    display: none;
  }

  .home__navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: $white;
    width: 100%;
    z-index: 1000;
    height: 60px;
    padding: 0 40px;

    .button-navbar {
      display: inline-block;
    }
  }

  .home-navbar__logo {
    width: 100px;
  }

  .home-navbar--left > a {
    display: inline-block;
    margin-left: 30px;
    margin-top: 4px;
    position: relative;
    overflow: hidden;
    color: $black;
    &:hover {
      color: $blue;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: -100%;
      width: 100%;
      height: 2px;
      background: $primary;
      transition: left .3s;
    }
    &:hover:after {
      left: 0;
    }
  }

  .home-navbar--rigth {

    div {
      display: inline-block;
      margin-right: 30px;
    }

    .home-navbar__menu {
      display: inline-block;
      margin-right: 25px;
      position: relative;
      margin-bottom: 0;
      margin-top: 0;
      cursor: pointer;

      .toggle__icon {
        transform-origin: center;
        transition: 0.3s all linear;

        svg {
          fill: $black;
        }
        margin-left: 10px;
      }
      &:hover {
        .toggle__icon-main {
          transform: rotate(-180deg);
        }

        .home-navbar__list {
          display: block;
          // box-shadow: 0 8px 8px $sura-line-gray;
          // top: 44px;
          // border-top-left-radius: 0;
          // border-top-right-radius: 0;
        }
      }

      & > li {
        position: relative;
        padding-left: 12px;
      }
    }

    .home-navbar__menu-item > span,
    .home-navbar__menu-item > svg {
      position: relative;
      z-index: 2;
    }

    .home-navbar__list {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      float: left;
      background-color: $white;
      padding: 10px 20px 0;
      border-radius: $border-radius;
    }

    .home-navbar__list-item {
      margin-top: 25px;
      margin-bottom: 21px;
      width: 240px;
      position: relative;

      .toggle__icon {
        position: absolute;
        top: 50%;
        right: 0;
        transition: 0.3s all linear;
        transform: rotate(270deg) translateY(-50%);
      }

      & > a {
         transition: 0.3s all linear;
         cursor: pointer;
      }

      &:hover {
        a { color: $primary; }
        .toggle__icon path { fill: $primary; }
      }
    }
  }

  .home-navbar__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .home__navbar {
    height: 60px;
  }

  .home-navbar--left {
    display: flex;
    align-items: center;
    justify-content: center;
    & > a {
      display: inline-block;
      margin-left: 45px;
    }
  }

  .home-navbar--rigth {
    font-size: 16px;
  }

  .home-navbar__list {
    font-size: 16px;

  }

  .home-navbar__logo {
    width: 128px;
  }
}

@media screen and (min-width: 1920px) {
  .home__navbar {
    height: 75px;
  }

  .home-navbar__logo {
    width: 140px;
  }

  .toggle-navbar {
    font-size: 18px;
  }

  .home-navbar__list {
    margin-top: 5px;
  }
  .home-navbar--rigth {
    .home-navbar__list-item {
      margin-top: 40px;
      margin-bottom: 30px;
    }
  }
}
