.header-dashboard-mobile {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 55px;
  background: linear-gradient(to right, rgba(1,73,137,1) 0%, rgba(19,143,185,1) 100%);
  //box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.15);

  &.header-dashboard-mobile--just-profile-icon {
    background: transparent;
    justify-content: flex-end;
    box-shadow: none;

    .header-dashboard-mobile__logo,
    .header-dashboard-mobile__menu,
    .header-dashboard-mobile__back,
    .header-dashboard-mobile__title{
      display: none;
    }

    .header-dashboard-mobile__profile svg circle { fill: $primary; }
    .header-dashboard-mobile__overlay {
      top: 0;
      z-index: 9;
    }
    .header-dashboard-mobile__user-info { display: none; }
    .header-dashboard-mobile__list { display: block; }
  }
}

.header-dashboard-mobile__back {
  width: 17px;
  font-size: 0;
  transform: rotate(90deg);

  svg path { fill: $white; }
}

.header-dashboard-mobile__title {
  font-size: 21px;
  color: $white;
}

.header-dashboard-mobile__menu {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: $white;
}

.header-dashboard-mobile__menu-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 130%;
}

.header-dashboard-mobile__hamburger {
  width: 20px;

  span {
    display: block;
    height: 2px;
    width: 100%;
    margin: 4px 0;
    background-color: $white;
  }

  span:first-child { margin: 0; }
  span:last-child { margin: 0; }
}

.header-dashboard-mobile__logo {
  display: block;
  width: 94px;
  font-size: 0;

  svg { width: 100%; }
}

.header-dashboard-mobile__shadow {
  position: absolute;
  top: -60px;
  left: 50%;
  width: 500px;
  height: 1px;
  transform: translateX(-50%);
}

.header-dashboard-mobile__profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .hd-profile__photo {
    width: 30px;
    font-size: 0;
    border-radius: 100%;
    overflow: hidden;

    svg circle {
      stroke: $white;
      stroke-width: 10px;
      fill: transparent;
    }
  }

  .hd-profile__arrow {
    display: none;
    width: 15px;

    svg g { fill: #282828; }
  }

  .hd-profile__info {
    display: none;
    flex: 1 1 auto;
    margin: 0 16px;

    span { display: block; }

    span:first-child {
      color: #54595C;
      font-size: 20px;
      line-height: 19px;
    }

    span:last-child {
      color: #797979;
      font-size: 16px;
      line-height: 19px;
    }
  }

  svg { width: 100%; }

  &.hdmp--is-open {
    position: relative;
    z-index: 11;

    .hd-profile__photo svg circle { fill: transparent; }
  }
}

.header-dashboard-mobile__overlay {
  position: fixed;
  left: 0;
  top: 55px;
  bottom: 0;
  width: 100%;
  background-color: rgba(18, 18, 17, 0.9);
}

.header-dashboard-mobile__user-info {
  position: relative;
  padding: 20px;
  background-color: $white;

  .hdmui__close {
    margin-right: 0;
    margin-left: auto;
    width: 30px;
    font-size: 0px;
    text-align: center;

    svg { width: 18px; }
    svg path { fill: rgb(76,86,98); }
  }

  .hdmui__info {
    border-left: 2px solid #00AEC7;
    padding: 4px 0 4px 16px;

    span { display: block; }

    span:first-child {
      font-size: 25px;
      line-height: 18px;
      color: #4C5662;
    }

    span:last-child {
      font-size: 15px;
      line-height: 18px;
      color: #666666;
      margin-top: 3px;
    }
  }

  .hdmui__button {
    margin: 12px 0 0 16px;
    padding: 12px 0;
    width: 141px;
    font-size: 16px;
    display: inline-block;
  }

  .hdmui__btn-contactinf {
    display: inline-block;
    color: $blue;
    font-size: 18px;
    margin: 5px 0 0 0;
    border-bottom: 1px solid $blue;
    cursor: pointer;
  }
}

.header-dashboard-mobile__list {
  display: none;
  position: absolute;
  top: 55px;
  right: 20px;
  padding: 20px;
  width: 176px;
  background-color: $white;
  border-radius: 5px;

  .hdml__item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #333333;
    font-size: 16px;

    span { display: block; }

    &:last-child { margin-bottom: 0; }
  }

  .hdml__item span:last-child {
    margin-left: 8px;
    width: 5px;

    svg { width: 100%; }
    svg path { fill: #333333; }
  }
}

.header-dashboard {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  width: 100%;
  padding: 0 40px;
  background-color: $white;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.42);
}

.header-dashboard__logo {
  width: 128px;
  font-size: 0;

  svg { width: 100%; }
}

.header-web-old{
  display: flex;
  margin-left: auto;
  align-items: center;
  img{
    margin-right: 8px;
    margin-top: 8px;
    height: 40px;
  }
  span{
    line-height: 50px;
  }
  button{
    margin: 0 33px 0 10px;
  }
  .-link{
    background: none;
    border: none;
    border-bottom: 1px solid #0057c2;
    cursor: pointer;
    color: #0057c2;
    font-size: 18px;
    font-family: "fs_joeymedium";
    font-weight: 500;
    padding: 0;
  }
}

.header-dashboard__action {
  display: flex;
  align-items: center;
}

.header-dashboard__hamburger {
  margin-right: 20px;
  width: 26px;
  cursor: pointer;

  span {
    display: block;
    height: 2px;
    background-color: $primary;
    margin: 8px 0;
  }

  span:first-child { margin: 0}
  span:last-child { margin: 0}
}

.header-dashboard__action-text {
  font-size: 16px;
  color: $primary;
}

.header-dashboard__hr {
  width: 1px;
  height: 30px;
  background-color: #D6D6D6;
  margin: 0 20px;
}

.header-dashboard__close {
  cursor: pointer;
  color: $blue;
  font-size: 18px;
}

@media screen and (min-width: 1024px) {
  .header-dashboard-mobile { display: none; }
  .header-dashboard { display: flex; }

  .header-dashboard-mobile__profile {
    .hd-profile__photo {
      width: 50px;
    }
  }
  .header-web-old{
    margin: 0 0 0 auto;
  }
}

@media screen and (min-width: 1920px) {
  .header-web-old{
    margin: 0 0 0 auto;
  }
}

