.header-dashboard25 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  background: inherit;
  color: $white;
  flex-direction: row-reverse;
}

.header-dashboard25__back {
  display: none;

  span {
    display: block;
    font-size: 0;
    transform: scale(-1);
  }

  svg { height: 16px; }
  svg path { fill: $white; }
}

.header-dashboard25__logo-mobile {
  width: 100px;
  font-size: 0;
  display: none;
  margin: 0 auto;
  svg { width: 100%; }
  path { fill: $white; }
}

.header-dashboard25__logo {
  display: none;

  &.logo--normal { display: none; }
}

.header-dashboard25__arrow {
  display: none;
  width: 20px;
  g {
    fill: $white;
  }
}

.header-dashboard25__icon-profile {
  width: 30px;
  font-size: 0;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  z-index: 11;
  svg {
    width: 100%;
    circle {
      stroke: #ffffff;
      stroke-width: 8px;
      fill: transparent;
    }
  }
}

.header-dashboard25__date {
  display: none;
}

.header-dashboard25__list {
  position: absolute;
  top: 55px;
  right: 20px;
  padding: 20px;
  width: 176px;
  background-color: $white;
  border-radius: 5px;
  z-index: 1;

  .hdml__item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #333333;
    font-size: 16px;
    cursor: pointer;

    span { display: block; }

    &:last-child { margin-bottom: 0; }
  }

  .hdml__item span:last-child {
    margin-left: 8px;
    width: 5px;

    svg { width: 100%; }
    svg path { fill: #333333; }
  }
}

.header-dashboard25__overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(18, 18, 17, 0.9);
}

.header-dashboard25{
  &.header-dashboard25--white{
    display: none;
    background: white;
  }
}

@media screen and (min-width: 1024px) {
  .header-dashboard25 {
    padding: 0 61px;
    flex-direction: row;
    height: 65px;
    background: linear-gradient(to right, #01447f 0%, #1288af 100%);
  }

  .header-dashboard25__logo {
    width: 128px;
    font-size: 0;
    display: block;
    cursor: pointer;
    svg { width: 100%; }
  }

  .header-dashboard25__logo-mobile {
    display: none;
  }

  .header-dashboard25__icon-profile {
    width: 34px;
  }

  .header-dashboard25__menu {
    outline: none;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* & > div {
      display: inline-block;
    } */
  }

  .header-dashboard25__name {
    font-size: 18px;
  }

  .header-dashboard25__document {
    font-size: 14px;
  }

  .header-dashboard25__date {
    display: block;
    cursor: pointer;
    margin: auto 16px auto 11px;
  }

  .header-dashboard25__arrow {
    display: inline-block;
    cursor: pointer;
  }

  .header-dashboard25__list {
    top: 48px;
    right: 0;
    transition-delay: 0.1s;
    transition: all .3s ;
    width: 100%;
  }

  .header-dashboard25__overlay {
    display: none;
  }

  .header-dashboard25__arrow {
    width: 15px;
  }

  .header-dashboard25{
    &.header-dashboard25--white{
      display: flex;
      position: relative;
      box-shadow: 0 0 10px $sura-shadow-gray;
      z-index: 100;

      .header-dashboard25__logo{
        display: none;
        &.logo--normal{
          display: block;
        }
      }

      .header-dashboard25__icon-profile svg circle{
        stroke: $sura-blue;
      }

      .header-dashboard25__icon-profile svg path{
        fill: $sura-blue;
      }

      .header-dashboard25__name,
      .header-dashboard25__document{
        color: $sura-text-gray
      }

      .header-dashboard25__arrow g{
        fill: $sura-text-gray
      }

      .header-dashboard25__list{
        border: 1px solid $sura-line-gray;
      }
    }
  }

}

@media screen and (min-width: 1366px) {
  .header-dashboard25__icon-profile {
    width: 44px;
  }

  .header-dashboard25__list {
    top: 60px;
  }

}

@media screen and (min-width: 1920px) {
  .header-dashboard25__name {
    font-size: 20px;
  }

  .header-dashboard25__document {
    font-size: 16px;
  }

}
