.header-form {
  position: relative;
  display: flex;
  width: 100%;
  background-color: $blue;
  height: 60px ;
  svg { width: 100%; }
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.header-form__back {
  position: absolute;
  top: 50%;
  left: 14px;
  width: 11px;
  transform: translateY(-50%);

  path { fill: $white; }
}

.header-form__logo {
  margin: 0 auto;
  width: 100px;
  font-size: 0;
  cursor: pointer;
  path { fill: $white; }
}

.header-form__help {
  position: absolute;
  top: 50%;
  right: 14px;
  display: none;
  width: 32px;
  transform: translateY(-50%);

  path { fill: $white; }
}

.header-navbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  background-color: $white;
  height: 60px;
  display: flex;
  justify-content: center;
}

.header-navbar__arrow-mobile {
  width: 14px;
  height: 8px;
  transform: rotate(90deg);
  fill: $blue;
  margin-right: 10px;
}

.header-navbar__wrapper-logo {
  align-items: center;
  display: flex;
  justify-content: center;
}

.header-navbar__logo {
  width: 100px;
}

.header-navbar__hamburger-menu-wrapper {
  position: absolute;
  left: 20px;
  top: 25px;
}

.hamburger-menu__text {
  font-size: 14px;
  color: $blue;
  cursor: pointer;
}

.header-navbar__hamburger-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-navbar .hamburger-menu__items {
  position: relative;
  width: 25px;
}

.header-navbar .hamburger-menu__burger,
.header-navbar .hamburger-menu__burger::after,
.header-navbar .hamburger-menu__burger::before {
  position: absolute;
  background: $blue;
  width: 22px;
  height: 3px;
  display: block;
  border-radius: 25%;
}

.header-navbar .hamburger-menu__burger {
  top: 50%;
  right: 0;

  &::after {
    bottom: 8px;
    content: "";
  }

  &::before {
    bottom: -8px;
    content: "";
  }
}



@media screen and (min-width: 768px) {
  .header-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-form__logo {
    margin: 0;
  }

  .header-form .header__text {
    color: $white;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .header-form .header__text {
    font-size: 22px;
  }
  .header-form { padding: 0 40px; }
  .header-form__logo { width: 128px; }

  .hpnd__header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    .hpnd__header-navbar {
      margin: auto 40px;
      width: 100%;
      align-items: center;
    }

    .hpnd-header__navbar-logo { width: 128px; }

    .hamburger-menu__text  { font-size: 22px; color: $black; }
  }
}

@media screen and (min-width: 1360px) {
  .header-form {
    height: 60px;
  }
}

@media screen and (min-width: 1920px) {
  .header-form {
    height: 75px;
  }

  .header-form__logo { width: 140px; }
  .hpnd__header {
    .hpnd__header-navbar {
    }
    .hpnd-header__navbar-logo { width: 140px; }

    .hamburger-menu__text  {  }
  }
}
