.irene-chat {
  position: fixed;
  right: 20px;
  bottom: 0;
  z-index: 2000;
  padding-top: 20px;
  padding-bottom: 20px;
}

.irene-chat__button {
  position: relative;
  display: block;
  height: 70px;
  width: 70px;
  background-color: $yellow;
  border-radius: 100%;
  border: none;
  font-size: 0;
  overflow: hidden;
  transition: 0.35s transform linear;
  cursor: pointer;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.3);

  img {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 90%;
    transform: translateX(-50%);
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);

    g { fill: $blue; }
  }

  &.irene-chat__button--close { transform: translateY(200%); }
}

.irene-chat__frame {
  position: absolute;
  bottom: 0;
  right: -20px;
  background-color: $white;
  transform: translateY(200%);
  transition: 0.35s transform linear;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.3);

  iframe {
    width: 100%;
  }

  &.irene-chat__frame--active {
    transform: translateY(0);
  }
}

.irene-chat__close {
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 10;
  width: 20px;
  height: 60px;
  font-size: 0;
  cursor: pointer;

  svg {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }

  svg g { fill: $blue; }
}

@media screen and (min-width: 1024px) {
  .irene-chat__button {
    width: 100px;
    height: 100px;
  }
}
