.link {
  font-size: 18px;
  font-family: $fs-medium;
  font-weight: 500;
  cursor: pointer;
}

.link--black {
  color: $black;
  &:hover {
    color: $blue;
  }
}

.link--white {
  color: $white;
  &:hover {
    color: $yellow;
  }
}

.link--white--black { color: $black;  }


@media screen and (min-width: 768px) {
  .link { font-size: 18px; }
}

@media screen and (min-width: 1024px) {
  .link--white--black {
    color: $white;
    &:hover {
      transition: all 0.3s;
      color: $yellow;
    }
  }
}
