.loader-dashboard {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
}

.loader-dashboard__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  background-color: $primary;
  transform: translate(-50%, -50%);

  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@keyframes sk-scaleout {
  0% {
    transform: translate(-50%, -50%) scale(0);
  } 100% {
    transform: translate(-50%, -50%) scale(1.0);
    opacity: 0;
  }
}

@media screen and (min-width: 1024px) {
  .loader-dashboard {
    top: 65px;
    left: 258px;
  }
}

@media screen and (min-width: 1920px) {
  .loader-dashboard {
    top: 65px;
    left: 302px;
  }
}
