.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  width: 50px;

  svg { width: 100%; }
  path { fill: $blue; }
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100%;
  background-color: white;

  &.loader-container--blue { background-color: #0049A3; }
}

.loader-container.loader-container--blue {
  .loader-spinner__bounce1, .loader-spinner__bounce2 { background-color: $white; }
}

.loader svg g g path:nth-child(1) {
  animation: loader 1s linear infinite;
}

.loader svg g path:nth-child(12) {
  animation: loader 1s linear .083s infinite;
}

.loader svg g path:nth-child(10) {
  animation: loader 1s linear .166s infinite;
}

.loader svg g path:nth-child(8) {
  animation: loader 1s linear .249s infinite;
}

.loader svg g path:nth-child(6) {
  animation: loader 1s linear .332s infinite;
}

.loader svg g path:nth-child(4) {
  animation: loader 1s linear .415s infinite;
}

.loader svg g path:nth-child(2) {
  animation: loader 1s linear .498s infinite;
}

.loader svg g path:nth-child(11) {
  animation: loader 1s linear .581s infinite;
}

.loader svg g path:nth-child(9) {
  animation: loader 1s linear .664s infinite;
}

.loader svg g path:nth-child(7) {
  animation: loader 1s linear .747s infinite;
}

.loader svg g path:nth-child(5) {
  animation: loader 1s linear .83s infinite;
}

.loader svg g path:nth-child(3) {
  animation: loader 1s linear .913s infinite;
}

@keyframes loader {
  0% {
    fill: transparent;
  }
  100% {
    fill: inherint;
  }
}

.loader-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.loader-spinner__bounce1, .loader-spinner__bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $blue;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.loader-spinner__bounce2 {
  animation-delay: -1.0s;
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
  }
}
