/* SURA */

$inner: 0.5s;
$logo: 0.8s;
$logo-move: 2.8s;
$circle: 1s;
$countdown: 1.3s;
$finish: 3.1s;

.main-loader,
.secondary-loader{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.main-loader__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10px;
  width: 10px;
  background-color: #f2f5f9;
  border-radius: 100%;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: center;
  animation: showBackground 0.5s linear $inner forwards;
}

.main-loader__inner__white {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10px;
  width: 10px;
  background-color: #ffffff;
  border-radius: 100%;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: center;
  animation: showBackground 0.5s linear 3.3s forwards;
}

.main-loader__logo {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 100px;
  font-size: 0;
  opacity: 0;
  transform: translate(-50%, -55%);
  animation: showLogo 0.3s linear $logo forwards, moveLogo 0.3s linear $logo-move, hideLoaderElement 0.2s linear $finish forwards;

  svg { width: 100%; }
}

.main-loader__circle {
  position: absolute;
  left: 50%;
  bottom: 30%;
  width: 30px;
  font-size: 0;
  opacity: 0;
  transform: translateX(-50%);
  animation: showCircle 0.3s linear $circle forwards, hideLoaderElement 0.2s linear $finish forwards;;

  svg { width: 100%; }
}

.main-loader__circle svg circle:first-child {
  stroke-dasharray: 310px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 4.8px;
  stroke: transparent;
  fill: none;
}

.main-loader__circle svg circle:last-child {
  stroke-dasharray: 310px;
  stroke-dashoffset: 310px;
  stroke-linecap: round;
  stroke-width: 5px;
  stroke: $blue;
  fill: none;
  transform: rotateZ(-90deg);
  transform-origin: center center;
  animation: countdownLoader 1.5s linear $countdown forwards;
}

.secondary-loader__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  font-size: 0;
  transform: translate(-50%, -50%);
  animation: moveLogo 1.1s linear 0.1s infinite;

  svg { width: 100%; }
}

.post-loader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1001;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  animation: hideLoaderSura 0.5s linear 0.1s forwards;
}

@keyframes hideLoaderSura {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 0.5
  }

  70% {
    opacity: 0
  }

  100% {
    z-index: -10;
    opacity: 0;
    display: none;
  }
}

@keyframes showBackground {
  100% {
    transform: translate(-50%, -50%) scale(500);
  }
}

@keyframes hideBackground {
  0% {
    transform: translate(-50%, -50%) scale(500);
  }

  50% {
    transform: translate(-50%, -50%) scale(250);
  }

  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}

@keyframes showLogo {
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes moveLogo {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes showCircle {
  100% {
    opacity: 1;
  }
}

@keyframes countdownLoader {
  from {
    stroke-dashoffset: 310px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes hideLoaderElement {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 768px) {
  .main-loader__logo { width: 200px; }
  .main-loader__circle { width: 40px; }
  .secondary-loader__logo { width: 200px; }
}
