
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5000;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
}

.modal__body {
  height: 600px;
  position: relative;
}

.modal__relative {
  position: unset;
  max-height: 100vh;
  overflow-y: auto;
}

.modal__close {
  position: absolute;
  top: 14px;
  right: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0057C2;
  font-size: 18px;
  width: 40px;
  z-index: 10;
  span {
    display: block;
    width: 20px;
    margin-right: 10px;
    font-size: 0;
  }

  svg { width: 100%; }
  svg g {
    fill: #0057C2;
  }
}

.modal__content {
  overflow: auto;
}

.modal__logo {
  margin: 20px auto 0;
  width: 100px;
  display: block;
}

@media screen and (min-width: 768px) {
  .modal__overlay {
    background-color: rgba(0,0,0,.75);
    overflow: unset;
  }

  .modal__body {
    overflow: unset;
    height: auto;
  }


  .modal__content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 1.5s;
  }

  .modal__content > div {
    margin: 0;
    padding: 45px 78px;
    width: 750px;
    background-color: $white;
    border-radius: 10px;
  }

  .modal__relative { position: relative; }

  .modal__logo { display: none; }

  .assured-modal__icon { display: 48px; }
}

@media screen and (min-width: 1200px) {
  .modal__content > div {
    padding: 45px 10px;
  }
}

@media screen and (min-width: 1920px) {
  .modal__content > div {
    padding: 45px 78px;
  }
}
