.modal {
  position: fixed;
  z-index: 100;
  display: block;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
}

.modal__inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

@media screen and (min-width: 768px) {
  .modal__inner {
    width: 450px;
  }
}
