.modal-message-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  .modal-message {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 50px 20px;
    max-width: 320px;
    width: 80%;
    background-color: $white;
    border-radius: 5px;
    transform: translate(-50%, -50%);
  }

  .modal__icon,
  .modal__title,
  .modal__cont { text-align: center; }

  .modal__icon {
    display: none;
    margin-bottom: 10px;
    font-size: 0;

    svg { height: 54px; }
    svg path { fill: #00C4D7; }
  }

  .modal__title {
    margin-bottom: 14px;
    color: $black;
    font-size: 20px;
    line-height: 22px;
  }

  .modal__cont {
    margin-bottom: 13px;
    color: $black;
    font-size: 16px;
    line-height: 20px;
  }

  .modal__button {
    padding: 15px 0;
    margin: 0 auto;
    width: 170px;
  }
}

@media screen and (min-width: 768px) {
  .modal-message-overlay .modal__icon { display: block; }
}

@media screen and (min-width: 1024px) {
  .modal-message-overlay {
    .modal__title {
      margin-bottom: 16px;
      font-size: 24px;
      line-height: 26px;
    }

    .modal__cont {
      margin-bottom: 16px;
      font-size: 20px;
      line-height: 24px;
    }
  }
}
