.modal-contact__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5000;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
 }

.modal-contact__body {
  overflow: auto;
  height: 600px;
  position: relative;
}

.modal-contact__close {
  position: absolute;
  top: 14px;
  right: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0057C2;
  width: 100px;
  z-index: 10;
}

.mcbc__icon {
  width: 40px;
  height: 40px;
  position: relative;
  display: inline-block;
    &::before, &::after {
    content: '';
    width: 11px;
    height: 2px;
    top: 50%;
    left: 50%;
    background: $blue;
    position: absolute;
  }
  &::before {
    bottom: -5px;
    transform:translateY(-50%) translateX(-50%) rotate(45deg);
  }
  &::after {
    bottom: 5px;
    transform: rotate(240deg);
    transform:translateY(-50%) translateX(-50%) rotate(135deg);
  }
}

.mcbc__text {
  font-size: 15px;
  display: inline-block;
}
