.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  overflow: auto;
}

.overlay__close {
  position: absolute;
  top: 14px;
  right: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0057C2;
  font-size: 18px;
  width: 40px;
  z-index: 10;
}

.overlay__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  flex-direction: column;
}

.overlay__content > div {
  position: relative;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .overlay {
    background-color: rgba(0, 0, 0, 0.75);
  }

  .overlay__content {
    justify-content: center;
  }


  .overlay__content > div {
    margin: 0;
    padding: 89px 78px 71px;
    width: 800px;
    background-color: #ffffff;
    border-radius: 10px;
  }

}
