
.pagination__number {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  padding-left: 0;

  li {
    cursor: pointer;
    margin-bottom: 3px;
    padding: 12px 16px 12px 0;
    border-right: 2px solid $white;
    color: $white;
    font-size: 18px;
    opacity: 0.5;
    line-height: 1;
    //transition: 0.3s all linear;
  }

  li:last-child { margin-bottom: 0; }

  li.active {
    opacity: 1;
    font-family: $fs-medium;
    font-weight: 500;
  }
}

.pagination__number--none {
  display: none;
}

.pagination__number--black {
  li {
    color: $black;
    border-right: 2px solid $color-line;
    opacity: 1;
  }

  li.active {
    color: $blue;
    border-right: 2px solid $blue;
  }
}

@media screen and (min-width: 768px) {
  .pagination__number {
    padding-left: 40px;
    li {
      font-size: 14px;
      padding: 7px 16px 7px 0;
    }
  }
}



@media screen and (min-width: 1440px) {
  .pagination__number {
    li { font-size: 18px; }
  }
}
