.range-slider { position: relative; }

.range-slider__bar {
  position: relative;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
}

.range-slider__ruler {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transform: translateY(-1px);

  span {
    position: relative;
    display: block;
    width: 1px;
    height: 3px;
    background-color: rgba($color: #A8C0D0, $alpha: 0.35);
  }

  span.range-slider--large { height: 9px; }
}

.range-slider__number {
  position: absolute;
  top: calc(100% + 9px);
  left: 50%;
  display: block;
  color: $white;
  font-size: 13px;
  opacity: 0.35;
  transform: translateX(-50%);
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .range-slider__ruler {
    span {
      width: 1px;
      height: 6px;
    }

    span.range-slider--large { height: 18px; }
  }

  .range-slider__number { font-size: 20px; }
}
