$line-height: 60px;
$line-height-abs: -60px;

.scroll-line__wrapper {
  display: none;
}

.scroll-line__mobile-none {
  display: none;
}

@media screen and (min-width: 768px) {
  .scroll-line__wrapper {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .scroll-line__text {
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 18px;
  }

  .scroll-line__none {
    display: none;
  }

  .scroll-line__mobile-none { display: block; }

  .scroll-line__text-scroll-color--white {
    color: $white;
  }

  .scroll-line__text-scroll-color--blue {
    color: $blue;
  }

  .scroll-line__down {
    width: 2px;
    height: $line-height;

    margin: 0 auto;
    overflow: hidden;
  }

  .scroll-line {
    width: 100%;
    height: 100%;
    display: block;
    //background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 50%);
    background-position: 0 $line-height-abs;
    background-size: 100% 200%;
    animation: scrolldown 1.6s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
  }

  .scroll-color--white {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 50%);
  }

  .scroll-color--blue {
    background-image: linear-gradient(to bottom, rgba($blue, 1) 50%, rgba(255, 255, 255, 0) 50%);
  }

  @keyframes scrolldown {
    0%{
      background-position: 0 $line-height-abs;
    }
    75% {
      background-position: 0 0;
    }
    100%{
      background-position: 0 $line-height;
    }
  }
}

@media screen and (min-width: 1920px)  {
  .scroll-line__text {
    font-size: 22px;
  }

  .scroll-line__down { height: 75px; }
}
