.sidebar {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 202px;
  background: linear-gradient(to right, rgba(1,73,137,1) 0%, rgba(19,143,185,1) 100%);
  z-index: 9;

  .ss-scroll {
    background: rgba(255, 255, 255, 0.45);
    width: 7px;
    right: -190px !important;
  }
}

.sidebar__profile {
  width: 62px;
  height: 62px;
  padding: 8px;
  margin: 85px auto 13px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 100%;
  overflow: hidden;

  svg circle { fill: rgba(255, 255, 255, 0.18); }
}

.sidebar__name,
.sidebar__username {
  text-align: center;
  color: $white;
  padding: 0 10px;
  word-break: break-all;
}

.sidebar__name { font-size: 22px; }
.sidebar__username { font-size: 15px; }

.sidebar .ss-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar__list {
  padding-bottom: 20px;
}

.sidebar__item {
  position: relative;
  display: flex;
  align-items: center;
  font-family: $fs-light;
  font-weight: 300;
  border-left: 4px solid transparent;
  opacity: 0.5;
  padding: 12px 20px 12px 45px;
  cursor: pointer;

  &.sidebar__item--active {
    border-left: 4px solid $yellow;
    opacity: 1;
    font-family: $fs-medium;
    font-weight: 500;
  }

  &:hover {
    opacity: 1;
  }

  &.isLoading {
    pointer-events: none;
  }
}

.sidebar__item-icon {
  position: absolute;
  top: 50%;
  left: 22px;
  transform: translateY(-50%);
  margin-right: 15px;
  font-size: 0;

  svg { height: 21px; max-width: 30px; }
  svg path, svg rect { fill: $white; }
}

.sidebar__item-description {
  color: $white;
  font-size: 16px;
}

.sidebar__item-loading{
  display: flex;
  align-items: center;

  .c-spin{
    margin-left: 10px;
    width: 18px;
    height: 18px;
  }
}

.sidebar__bottom {
  width: 100%;
  color: $white;
  font-size: 13px;
  line-height: 1;
  padding-bottom: 15px;
  padding-top: 10px;
  background: inherit;
}

.sidebar__bottom-item {
  margin-bottom: 15px;
  padding-left: 24px;
  display: block;

  &:last-child { margin-bottom: 0; cursor: pointer;}
}

.sidebar__item--important {
  opacity: 1;
  background: rgba(255,255,255,0.25);
  height: 68px;
}

.sidebar__dataUpdate {
  display: inline-block;
  color: $white;
  text-align: center;
  margin: 8px auto 0;
  border-bottom: 1px solid $white;
  &:hover{
    color: $sura-yellow-secundary;
    border-bottom: 1px solid $sura-yellow-secundary;
  }
}

@media screen and (min-width: 1024px) {
  .sidebar {
    display: block;
    &.is-disabled {
      display: none;
    }
  }

  .sidebar__name { font-size: 16px; }
  .sidebar__username { font-size: 12px;}

  .sidebar__item-icon {
    left: 18px;
    svg { height: 16px; }
  }

  .sidebar .ss-container {
    padding: 45px 0 5px 0;
    height: calc(100vh - 218px);
  }

  .sidebar__hr {
    width: 90%;
    margin: 20px auto;
    height: 1px;
    background: rgba(#000000, 0.08);
  }
}

@media screen and (min-width: 1200px) {
  .sidebar {
    width: 220px;

    .ss-container {
      padding: 45px 0 0 0;
      height: calc(100vh - 224px);
    }

    .ss-scroll {
      right: -207px !important;
    }
  }

  .sidebar__item-description {
    font-size: 16px;
  }

  .sidebar__name { font-size: 18px; }
  .sidebar__username { font-size: 15px; }
  .sidebar__item-icon { svg { height: 21px;} }

  .sidebar__item {
    padding-left: 58px;
    margin-bottom: 10px;
  }

  .sidebar__bottom {
    font-size: 13px;
  }
}

@media screen and (min-width: 1600px){
  .sidebar {
    width: 250px;

    .ss-container {
      height: calc(100vh - 234px);
    }

    .ss-scroll {
      right: -238px !important;
    }
  }
}

@media screen and (min-width: 1920px) {
  // .sidebar__item {
  //   margin-bottom: 10px;
  // }
}
