.swiper-slide {
  width: 65%;
}

.swiper-pagination-bullet {
  background-color: $black;
  width: 5px;
  height: 5px;
  opacity: 0.25;
  border-radius: 100%;
}

.swiper-pagination-bullet {
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  transform-origin: center center;
  transition: 0.25s all linear;
}

.swiper-pagination-bullet-active {
  background-color: $blue;
  width: 8px;
  height: 8px;
  opacity: 1;
  transform: scale(1.5);
}


