.u-fs-regular {
  font-family: $fs;
}

.u-fs-bold {
  font-family: $fs-bold;
  font-weight: 700;
}

.u-fs-medium {
  font-family: $fs-medium;
  font-weight: 500;
}

.u-fs-ligth {
  font-family: $fs-light;
  font-weight: 300;
}

.u-text-center {
  display: inline-block;
  text-align: center;
}

.u-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-flex-center-colummn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.u-flex-right {
  display: flex;
  justify-content: flex-end;
}

.u-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.u-space-around {
  display: flex;
  justify-content: space-around;
}

.u-space-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.u-mobile {
  display: block;
}

.u-mobile-lineal {
  display: inline;
}

.u-desktop {
  display: none;
}

.u-desktop-1024 {
  display: none;
}

.u-lineal-desktop {
  display: none;
}

.u-mobile-768 {
  display: none;
}

.u-none {
  display: none;
}

.u-relative {
  position: relative;
}

.u-px-0 {
  padding-left: 0;
  padding-right: 0;
}

.u-mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.u-my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-w100 {
  width: 100%;
}

.u-row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.u-col-xs-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  flex-basis: 100%;
  max-width: 100%;
  position: relative;
}

.u-col-xs-6 {
  box-sizing: border-box;
  flex: 0 0 auto;
  flex-basis: 50%;
  max-width: 50%;
  position: relative;
}

.u-col-xs-4 {
  box-sizing: border-box;
  flex: 0 0 auto;
  flex-basis: 25%;
  max-width: 25%;
  position: relative;
}

.u-row {
  display: flex;
}

.u-container {
  margin-right: auto;
  margin-left: auto;
}

.u-font-primary {
  color: $blue;
}

.u-animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.u-fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.u-fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.u-fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.u-fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.u-fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeOutUp {
  animation-name: fadeOutUp;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}


.u-slideInDown {
  animation-name: slideInDown;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}


@media screen and (min-width: 768px) {

  .u-mobile {
    display: none;
  }

  .u-desktop {
    display: block;
  }

  .u-lineal-desktop {
    display: inline;
  }

  .u-mobile-lineal {
    display: none;
  }

  .u-mobile-768 {
    display: block;
  }

  .u-desktop-1024 {
    display: none;
  }

  .u-col-sm-4 {
    box-sizing: border-box;
    flex: 0 0 auto;
    flex-basis: 25%;
    max-width: 25%;
    position: relative;
  }

  .u-col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
    position: relative;
  }

  .u-col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
    position: relative;
  }

}

@media screen and (min-width: 1024px) {
  .u-desktop-1024 {
    display: block;
  }

  .u-mobile-768 {
    display: none;
  }
}
