.db-welcome {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: auto;
  background-color: $white;
}

.db-welcome__logo {
  top: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  font-size: 0;
  cursor: pointer;
  svg { width: 100%; }
}

.db-welcome__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.db-welcome__inner {
  position: absolute;
  padding: 0 20px;
  width: 100%;
  top: 50%;
  margin: 30px auto 0;
  transform: translateY(-50%);
}

.db-welcome__title {
  margin-bottom: 7px;
  color: $primary;
  font-size: 30px;
  line-height: 27px;
  text-align: center;
}

.db-welcome__description {
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
}

.db-welcome__button {
  margin: 0 auto;
}

.db-welcome__image {
  margin: 100px auto 0;
  width: 100%;
  img { width: 100%; }
}

.db-welcome__animation-image {
  animation-name: fadeInDown;
}

.db-welcome__animation-text {
  animation-name: fadeInUp;
}


@media screen and (min-width: 320px) {
  .db-welcome__image {
    margin: 80px auto 0;
    width: 90%;
  }
  .db-welcome__title {
    font-size: 26px;
    margin-bottom: 0;
  }

  .db-welcome__description { margin-bottom: 15px; }
}

@media screen and (min-width: 540px) {
  .db-welcome__inner {
    margin-top: 120px;
  }
}

@media screen and (min-width: 768px) {
  /* .db-welcome__image { width: 60%; } */
  .db-welcome__title {
    font-size: 52px;
    line-height: 40px;
  }

  .db-welcome__description {
    font-size: 24px;
  }

  .db-welcome__image {
    width: 80%;
    margin: 60px auto 0;
  }

  .db-welcome__inner {
    margin-top: 100px;
  }
}

@media screen and (min-width: 1024px) {
  .db-welcome__logo {
    left: 60px;
    top: 30px;
    transform: none;
  }

  .db-welcome__wrapper {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .db-welcome__wrapper-text {
    position: absolute;
    right: -380px;
    top: -120px;
  }

  .db-welcome__inner {
    margin-top: 0;
    padding: 0 80px;
    top: 38%;
    transform: translateY(-38%);
  }

  .db-welcome__title {
    font-size: 48px;
    line-height: 36px;
    text-align: left;
    margin-bottom: 8px;
  }

  .db-welcome__description {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
    font-family: $fs-light;
    font-weight: 300;
    br { display: none; }
  }

  .db-welcome__button {
    margin: 0;
  }

  .db-welcome__image {
    width: 80%;
    font-size: 0;
    margin: 0;
  }

  .db-welcome__animation-image {
    animation-name: fadeInRight;
  }

  .db-welcome__animation-text {
    animation-name: fadeInLeft;
  }

}

@media screen and (min-width: 1200px) {
  .db-welcome__title {
    font-size: 56px;
    line-height: 44px;
    margin-bottom: 10px;
   }

  .db-welcome__wrapper-text {
    right: -450px;
    top: -120px;
  }
  .db-welcome__description {
    font-size: 24px;
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 1366px) {
  .db-welcome__inner {
    margin-top: 0;
    padding: 0 255px;
  }

  .db-welcome__title {
    font-size: 60px;
    line-height: 48px;
    text-align: left;
  }

  .db-welcome__wrapper-text {
    right: -500px;
    top: -120px;
  }

  .db-welcome__inner { padding: 0 155px; }

}

@media screen and (min-width: 1920px) {
  .db-welcome__inner { padding: 0 255px; }

  .db-welcome__wrapper-text {
    top: -100px;
    right: -600px;
  }
  .db-welcome__description {
    margin-bottom: 20px;
    font-size: 30px;
  }

  .db-welcome__title {
    font-size: 72px;
    line-height: 56px;
    text-align: left;
    margin-bottom: 10px;
  }
}

@media screen and (max-height: 450px) {
  .db-welcome__logo {
    position: relative;
    margin-bottom: 50px;
  }
}
