// Primary colors
$sura-yellow : #FFE946;
$sura-blue : #0057C2;
$sura-gray : #E2E2E2;
$sura-turquoise : #00AEC7;

$sura-blue-gradient : #014989;
$sura-turquoise-gradient : #138fb9;

//Hover colors
$sura-blue-hover : #013A81;
// Secundary colors
$sura-yellow-secundary : #FCE117;
$sura-blue-secundary : #003BB4;

// Background colors
$sura-background-skyblue : #F6FCFF;
$sura-background-blue : #0A5885;
$sura-background-gray: #F2F5F9;

// Shadow colors
$sura-shadow-gray : #DDE6EE;

// Texts/lines colors
$sura-text-gray : #4C5662;
$sura-text-gray-light : #6A798B;

// Lines colors
$sura-line-gray : #C1C7D5;

// Icon colors
$sura-icon-gray : #6E7889;

// Loading colors
$sura-loading-background-gray : #E1E7EF;
$sura-loading-background-gray-dark : #C9CED6;
