.cp-section-main {
  padding-top: 60px;
}

.cp-sm__image-mobile {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
}

.cp-sm__base-curve {
  width: 100%;
  position: absolute;
  bottom: -1px;
  z-index: 1;
}

.cp-sm__base-curve-image { width: 100%; }

.cp-sm__content {
  text-align: center;
  padding-bottom: 52px;
  margin-top: 20px;
  z-index: 2;
}

.cp-sm__icon {
  svg {
    width: 50px;
    fill: $blue;
   }
}

.cp-sm__tittle {
  font-size: 24px;
  margin: 20px auto;
  max-width: 280px;
}

.cp-sm__button { margin: 0 auto; }
.cp-sm__br { display: none; }

@media screen and (min-width: 768px) {
  .cp-section-main {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }

  .cp-sm__content {
    margin-top: 0;
    padding-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 2;
    color: #fff;
  }

  .cp-sm__content--center {
    //height: 100vh;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cp-sm__icon {
    svg {
      width: 80px;
      fill: $white;
    }
  }

  .cp-sm__tittle {
    max-width: 700px;
    margin: 28px auto;
    font-size: 38px;
  }

  .cp-container-center { margin-top: -60px; }
}

@media screen and (min-width: 1200px) {
  .cp-sm__tittle {
    font-size: 48px;
    margin: 23px auto;
  }

  .cp-sm__br { display: block; }
}

@media screen and (min-width: 1960px) {
  .cp-section-main {
    padding-top: 75px;
  }

  .cp-sm__content--center {
    height: calc(100vh - 75px);
  }

  .cp-container-center { margin-top: -75px; }

  .cp-sm__tittle {
    margin: 27px auto;
    font-size: 60px;
    max-width: 860px;
  }
}
