.cp-section-final {
  height: calc(100vh - 60px);
  //padding-top: 60px;
  //height: 100vh;
}

.cp-sf__tittle {
  margin-top: 0;
  color: $primary;
  font-size: 30px;
  text-align: center;
}

.cp-sf__button { margin: 19px auto 0; }

.cp-sf__text-content {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 260px;
  margin: 0 auto;
}

.cp-sf__link {
  margin: 28px auto 0;
  border-bottom: 1px solid $black;
  display: inline-block;
  text-align: center;
}

.cp-sf__content--center {
  height: calc(100vh - 60px);
}

@media screen and (min-width: 412px) {
  .cp-section-final {
    padding-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .cp-section-final {
    height: 100vh;
    padding-top: 0;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }

  .cp-sf__content {
    margin-top: 0;
    padding-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 2;
    color: #fff;
  }

  .cp-sf__content--center {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cp-sf__tittle {
    color: $white;
    font-size: 48px;
    margin-bottom: 5px;
  }

  .cp-sf__text-content {
    font-size: 24px;
    width: 480px;
    font-family: $fs-light;
    font-weight: 300;
    line-height: 34px;
  }

  .cp-sf__link {
    color: $white;
    border-bottom: 1px solid $white;
    &:hover {border-bottom: 1px solid $yellow; }
  }

}

@media screen and (min-width: 1440px) {
  .cp-sf__tittle { font-size: 60px; }

  .cp-sf__text-content {
    font-size: 30px;
    width: 600px;
  }

  .cp-sf__button { margin: 26px auto 0; }

}


@media screen and (min-width: 1960px) {
  .cp-sf__content--center { height: calc(100vh - 75px); }

}

