.e-button{
  background: $sura-yellow;
  border: 2px solid transparent;
  color: $sura-blue;
  font-size: 18px;
  line-height: 21px;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 60px;
  display: inline-block;
  font-family: "fs_joeymedium";
  font-weight: 500;
  transition: .2s linear;
  user-select: none;
  justify-content: center;

  &:hover{
    background: $sura-yellow-secundary;
  }

  &.e-button--icon-left {
    display: flex;
    align-items: center;
    svg{
      height: 14px;
      padding-right: 12px;
      fill: $sura-blue
    }
  }

  &.e-button--flat{
    background: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: inherit;
    padding: 0;
  }

  &.e-button--large{
    padding: 15px 40px;
  }

  &.e-button--small{
    padding: 7px 10px;
    line-height: 17px;
    font-size: 14px;
  }

  &.e-button--blue-transparent{
    color: $sura-blue;
    background: transparent;
    border: 2px solid $sura-blue;
    &:hover{
      color: white;
      background: $sura-blue;
    }
  }

  &.e-button--gray-transparent{
    background: transparent;
    border: 2px solid rgba(0,86,198,0.12);
    &[disabled]{
      border: 2px solid $sura-gray;
      color: $sura-gray;
      background: transparent;
    }
  }

  &.e-button--white-transparent{
    background: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
  }

  &[disabled]{
    background: $sura-gray;
    color: white;
    pointer-events: none;
    transition: none;
  }

  &.e-button--link{
    background: none;
    border-bottom: 1px solid $sura-blue;
    border-radius: 0px;
    padding: 0;
    font-size: inherit;
    &:hover{
      color: $sura-blue-hover;
      border-bottom-color: $sura-blue-hover;
    }
    &[disabled]{
      background: none;
      color: $sura-line-gray;
      border-bottom: 1px solid $sura-line-gray;
    }
  }

  .icon-loading{
    animation-name: spin2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: 20px;
    width: 20px;
    svg {
      height: 20px;
      width: 20px;
    }
    margin-right: 8px;
  }

  .c-spin{
    margin-right: 10px;
  }
}

.e-button__submit{
  display: flex !important;
  flex-direction: row
}

@keyframes spin2 {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@media screen and (min-width: 768px){
  .e-button{
    &.e-button--small{
      font-size: 18px;
      line-height: 22px;
      padding: 7px 20px;
    }
  }
}
