.e-card{
  box-shadow: 0 0 16px 0 rgba(145,182,218,.48);
  border-radius: 10px;
  padding: 28px 30px;
  background: white;
}

.e-card__header{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.e-card__header-icon{
  width: 34px;
  height: 34px;
  margin-right: 15px;
  fill: $sura-blue;
}

.e-card__header-title-container{
  text-align: left;
  width: calc(100% - 50px);
}

@media screen and (min-width: 768px){
  .e-card{
    padding: 30px 35px;
  }

  .e-card__header-icon{
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1024px){
  .e-card{
    padding: 40px 45px;
  }
}
