.e-container{
  width: calc(100% - 30px);
  margin: 0 auto;
}

@media screen and (min-width: 375px){
  .e-container{
    max-width: 90%;
  }
}

@media screen and (min-width: 960px){
  .e-container{
    width: 85%;
    max-width: 85%;
  }
}

@media screen and (min-width: 1024px){
  .e-container{
    max-width: 1024px;
  }
}

@media screen and (min-width: 1200px){
  .e-container{
    &.e-container--large{
      max-width: 1160px;
      width: 100%;
    }
  }
}

@media screen and (min-width: 1366px){
  .e-container{
    &.e-container--large{
      max-width: 1200px;
    }
  }
}

@media screen and (min-width: 1600px){
  .e-container{
    max-width: 1200px;
    &.e-container--large{
      max-width: 1350px;
    }
  }
}

@media screen and (min-width: 1920px){
  .e-container{
    max-width: 1400px;
    &.e-container--large{
      max-width: 1500px;
    }
  }
}
