.e-form-group{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;

  .e-form-group__input, .e-form-group__select{
    display: block;
    background: none;
    border-width: 0;
    border-color: transparent;
    width: 100%;
    color: $sura-text-gray;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
    box-shadow: none;
    height: 38px;
    font-size: 22px;
    padding-left: 0;
    &:disabled{
      color: rgba($sura-text-gray, 0.6);
    }
  }

  .e-form-group__select{
    padding: 0;
    outline: none;
    cursor: pointer;
  }

  .e-form-group__input-select{
    text-overflow: ellipsis;
    padding-right: 18px;
    cursor: pointer;
  }

  .e-form-group__textarea{
    margin-top: 17px;
    border-color: $sura-text-gray;
    resize: none;
    color: $sura-text-gray;
  }
}

.e-form-group__title{
  @extend .e-p2;
  @extend .e-text-medium;
  &.hasMargin{
    margin-top: 40px;
  }
}

.e-form-wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  .e-form-wrapper{
    padding: 0;
    margin-top: 5px;
  }

  &.hasIcon{
    flex-wrap: nowrap;
  }
}

.e-form-wrapper-select{
  display: flex
}

.e-form-group__icon-container{
  margin-right: 16px;
}
.e-form-group__icon{
  width: 26px;
  height: 26px;
  fill: $sura-blue;
  path{
    fill: $sura-blue;
  }
}

.e-form-group__input-loading-icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8px;
}

.e-form-group__control-label, .e-form-group__date-label {
  position: absolute;
  top: 14px;
  pointer-events: none;
  padding-left: 0.1rem;
  z-index: 1;
  color: $sura-text-gray;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 18px;
}

.e-form-group__dropdown-icon{
  pointer-events: none;
  position: absolute;
  right: 8px;
  top: 22px;
  transition: .2s linear;
  &.show{
    transform: rotate(180deg);
  }
  svg{
    height: 12px;
    width: 12px;
  }
}

.e-form-group__bar {
  position: relative;
  border-bottom: 1.35px solid $sura-text-gray;
  display: block;
}

.e-form-group__control-password{
  position: absolute;
  right: 0;
  top: 10px;
  margin: 0;
  z-index: 20;
  font-family: "fs_joeymedium";
  user-select: none;
  font-size: 12px;
  padding: 10px;
  line-height: 18px;
  cursor: pointer;
}

.e-form-group__inputfile-label{
  font-family: $fs-medium;
  cursor: pointer;
}

.e-form-group__inputfile{
  display: none;
}

.e-form-group__dropdown{
  position: absolute;
  background: white;
  z-index: 99;
  // top: 51px;
  width: 100%;
  border: none;
  display: none;
  &.show{
    display: block
  }
}

.e-form-group__select-container{
  width: 100%;
  .e-form-wrapper{
    padding: 0;
  }
}

.e-form-group__dropdown-list{
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow-y: auto;
}

.e-form-group__dropdown-item{
  padding: 11px 20px;
  border: 1px solid #dbdee7;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
  &.selected{
    background: $sura-yellow;
    color: $sura-blue;
  }
  &:hover{
    background: $sura-background-gray;
    color: $sura-text-gray;
    transition: all .2s ease-in-out;
  }
}

.e-form-group__bar::before {
  content: '';
  height: 0.1rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: $sura-blue;
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}

.e-form-group__input{
  &::placeholder{
    color: transparent;
  }

  &:focus{
    &::placeholder{
      color: #757575;
      transition: .2s linear;
    }
  }
}

.e-form-group__input:focus ~ .e-form-group__control-label,
.e-form-group__input.e-form-group.has-value:valid ~ .e-form-group__control-label,
.e-form-group__input.has-value ~ .e-form-group__control-label,
.e-form-group__select:focus ~ .e-form-group__control-label,
.e-form-group__select:valid ~ .e-form-group__control-label,
.e-form-group__date-label{
  font-size: 14px;
  top: 0;
  left: 0;
}

.e-form-group__input:focus ~ .e-form-group__bar::before,
.e-form-group__select:focus ~ .e-form-group__bar::before{
  width: 100%;
  left: 0;
}

.e-form-group.dirty{
  .e-form-group__input:focus:invalid ~ .e-form-group__control-label{
    font-size: 14px;
    color: red;
    top: 0;
    left: 0;
  }
  .e-form-group__input:invalid ~ .e-form-group__control-label{
    color: red;
  }
  .e-form-group__input:invalid ~ .e-form-group__bar::before{
    background: red;
  }
  .e-form-group__input:invalid ~ .e-form-group__bar{
    border-bottom: 1.35px solid red;
  }
}

.e-form-group.invalid{
  .e-form-group__input:focus ~ .e-form-group__control-label{
    font-size: 14px;
    color: red;
    top: 0;
    left: 0;
  }
  .e-form-group__input ~ .e-form-group__control-label{
    color: red !important;
  }
  .e-form-group__input ~ .e-form-group__bar::before{
    background: red;
  }
  .e-form-group__input ~ .e-form-group__bar{
    border-bottom: 1.35px solid red;
  }
}

.e-form-group.has-value{
  .e-form-group__input:invalid ~ .e-form-group__control-label{
    top: 0;
    left: 0;
    font-size: 14px;
  }
  .e-form-group__input ~ .e-form-group__control-label{
    font-size: 14px;
    top: 0;
    left: 0;
  }
}

.e-form-group__input:disabled ~ .e-form-group__control-label,
.e-form-group__select:disabled ~ .e-form-group__control-label{
  color: rgba($sura-text-gray, 0.6) !important;
}

.e-form-group__input:disabled ~ .e-form-group__dropdown-icon{
  fill: rgba($sura-text-gray, 0.6);
}

.e-form-group__input:disabled ~ .e-form-group__bar,
.e-form-group__select:disabled ~ .e-form-group__bar{
  border-bottom: 1.35px solid rgba($sura-text-gray, 0.6) !important;
}

.e-form-group__error-messages{
  height: 18px;
  text-align: left;
}

.e-form-group__error-message{
  color: red;
  display: none;
  &:first-child{
    display: block;
  }
}

.e-form-group__file-element-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 8px;
  border: 1px solid;
  border-radius: 20px;
  min-height: 40px;
  padding: 8px 20px;
  color: $sura-line-gray;
  margin-bottom: 12px;
  svg{
    height: 12px;
    width: 12px;
    cursor: pointer;
    fill: $sura-line-gray;
  }

}

.e-form-group__file-element{
  padding: 0 8px;
}

.e-form-group__file-element-icon{
  height: 12px;
}

.e-form-group__checkbox-container, .e-form-group__radio-container{
  flex-direction: row;
  align-items: center;
}

.e-form-group__checkbox-container{
  align-items: start;
}

.e-form-group__checkbox{
  display: none;
}

.e-form-group__checkbox-element{
  width: 18px;
  height: 18px;
  min-width: 18px;
  border: 1px solid gray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin-right: 8px;
  svg{
    width: 15px;
    height: 15px;
    padding-left: 1px;
    fill: $sura-turquoise;
    display: none;
  }
}

.e-form-group__checkbox:checked ~ .e-form-group__checkbox-element{
  svg{
    display: block;
  }
}

.e-form-group__checkbox:disabled ~ .e-form-group__checkbox-label{
  color: $sura-line-gray;
}

.e-form-group__checkbox-label{
  cursor: pointer;
}

.e-form-group__checkbox:disabled ~ .e-form-group__checkbox-element{
  border: 1px solid $sura-line-gray;
}

.e-form-group__radio{
  height: 18px;
  width: 18px;
  border: 1px solid $sura-line-gray;
  border-radius: 50%;
  padding: 2px;
  margin-right:  12px;
}

.e-form-group__radio-element{
  position: absolute;
  z-index: -1;
  height: 18px;
  width: 18px;
}

.e-form-group__radio-container{
  width: auto;
  margin-right: 12px;
}

.e-form-group__radio-element:checked ~ .e-form-group__radio{
  .e-form-group__radio-dot{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: $sura-turquoise;
  }
}

.e-form-group--white{
  .e-form-group__input{
    color: white;
  }

  .e-form-group__bar {
    border-bottom: 1.35px solid white;
    &::before{
      background: white;
    }
  }

  .e-form-group__control-label{
    color: white;
  }

  .e-form-group__input:focus ~ .e-form-group__control-label,
  .e-form-group__input.e-form-group.has-value:valid ~ .e-form-group__control-label,
  .e-form-group__input.has-value ~ .e-form-group__control-label{
    color: white;
  }

  &.has-value{
    .e-form-group__input ~ .e-form-group__control-label{
      color: white;
    }
  }
}

.e-form-group__loader {
  height: 2px;
  width: 100%;
  position: absolute;
  overflow: hidden;
  background-color: #ddd;
  top: 46px;
}

.e-form-group__loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: barloading 2s linear infinite;
}

@media screen and (min-width: 1360px){
  .e-form-group{
    .e-form-group__input, .e-form-group__select{
      height: 38px;
    }
  }
}

@keyframes barloading {
  from {left: -200px; width: 30%;}
  50% {width: 30%;}
  70% {width: 70%;}
  80% { left: 50%;}
  95% {left: 120%;}
  to {left: 100%;}
}
