@media screen and (max-width: 767px){
  .e-show-tablet,
  .e-show-tablet-desktop{
    display: none;
  }
}

@media screen and (min-width: 768px){
  .e-show-mobile{
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
  .e-show-mobile-desktop{
    display: none;
  }
}

@media screen and (max-width: 1199px){
  .e-show-desktop{
    display: none;
  }
}

@media screen and (min-width: 1200px){
  .e-show-mobile-tablet,
  .e-show-tablet{
    display: none;
  }
}
