.e-h1, .e-h1--large, .e-h2, .e-h3, .e-h4, .e-h5, .e-p1, .e-p2, .e-p3, .e-p4, .e-p5, .e-p6{
  margin: 0;
}

.e-h1, .e-h1--large, .e-h2, .e-h3, .e-h4, .e-h5{
  line-height: 1;
}

.e-h1{
  font-size: 27px;
}

.e-h1--large{
  font-size: 38px;
  line-height: 34px;
}

.e-h2{
  font-size: 26px;
  line-height: 28px;
}

.e-h3{
  font-size: 24px;
}

.e-h4{
  font-size: 22px;
  line-height: 24px;
}

.e-p1{
  font-size: 20px;
  line-height: 26px;
}

.e-p2{
  font-size: 18px;
  line-height: 22px;
  &.e-p2--title{
    line-height: 20px;
  }
}

.e-p3{
  font-size: 16px;
  line-height: 22px;
}

.e-p4{
  font-size: 16px;
  line-height: 20px;
}

.e-p5{
  font-size: 14px;
  line-height: 17px;
}

.e-p6{
  font-size: 12px;
  line-height: 15px;
}

.e-text-center{
  text-align: center;
}
.e-text-right{
  text-align: right;
}
.e-text-left{
  text-align: left;
}
.e-text-regular{
  font-family: "fs_joeyregular";
  font-weight: normal;
  margin: 0;
}
.e-text-bold{
  font-family: "fs_joeybold";
  font-weight: bold;
  margin: 0;
}
.e-text-light{
  font-family: "fs_joeylight";
  font-weight: 300;
  margin: 0;
}
.e-text-medium{
  font-family: "fs_joeymedium";
  font-weight: 500;
  margin: 0;
}

.br-mobile{
  display: block;
}
.br-desktop{
  display: none;
}

@media screen and (min-width: 375px){
  .e-h1{
    font-size: 30px;
    line-height: 32px;
  }
  .e-h1--large{
    font-size: 44px;
    line-height: 43px;
  }
  .e-h4{
    font-size: 22px;
    line-height: 26px;
  }
}

@media screen and (min-width: 768px){
  .e-h1{
    font-size: 44px;
    line-height: 1;
  }
  .e-h1--large{
    font-size: 58px;
    line-height: 54px;
  }

  .e-h2{
    font-size: 36px;
    line-height: 38px;
    &.e-h2--lineal-2{
      font-size: 28px;
    }
    &.e-h2--lineal-4{
      font-size: 30px;
      line-height: 32px;
    }
  }
  .e-h3{
    font-size: 30px;
  }
  .e-h4{
    font-size: 24px;
    line-height: 26px;
  }
  .e-h5{
    font-size: 20px;
  }
}

@media screen and (min-width: 960px){
  .e-p1{
    font-size: 22px;
    line-height: 24px;
  }
  .e-p2{
    font-size: 20px;
    line-height: 26px;
    &.e-p2--title{
      line-height: 22px;
    }
  }
  .e-p3{
    font-size: 18px;
    line-height: 24px;
  }
  .e-p4{
    font-size: 18px;
    line-height: 22px;
  }
  .e-p5{
    font-size: 16px;
    line-height: 20px;
  }
  .e-p6{
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (min-width: 1024px){
  .br-mobile{
    display: none;
  }
  .br-desktop{
    display: block;
  }
}

@media screen and (min-width: 1200px){
  .e-h1{
    font-size: 58px;
  }
  .e-h1--large{
    font-size: 70px;
    line-height: 64px;
  }
  .e-h2{
    font-size: 48px;
    line-height: 48px;
    &.e-h2--lineal-2{
      font-size: 30px;
    }
    &.e-h2--lineal-4{
      font-size: 34px;
      line-height: 36px;
    }
  }
  .e-h3{
    font-size: 40px;
  }
  .e-h4{
    font-size: 32px;
    line-height: 34px;
    &.e-h4--lineal-2{
      font-size: 26px;
      line-height: 28px;
    }
  }
  .e-h5{
    font-size: 26px;
  }

  .e-p1{
    font-size: 24px;
    line-height: 30px;
  }
  .e-p2{
    font-size: 22px;
    line-height: 25px;
    &.e-p2--lineal-1-5{
      font-size: 19.5px;
      line-height: 26px;
    }
    &.e-p2--title{
      line-height: 24px;
    }
  }
  .e-p3{
    font-size: 20px;
    line-height: 26px;
  }
}

@media screen and (min-width: 1600px){
  .e-h1{
    font-size: 72px;
  }
  .e-h1--large{
    font-size: 84px;
    line-height: 76px;
  }

  .e-h2{
    font-size: 60px;
    line-height: 62px;
    &.e-h2--lineal-2{
      font-size: 32px;
    }
    &.e-h2--lineal-4{
      font-size: 38px;
      line-height: 40px;
    }
  }
  .e-h3{
    font-size: 52px;
  }
  .e-h4{
    font-size: 44px;
    line-height: 46px;
    &.e-h4--lineal-2{
      font-size: 28px;
    }
  }
  .e-h5{
    font-size: 36px;
  }

  .e-p1{
    font-size: 28px;
    line-height: 34px;
  }
  .e-p2{
    font-size: 24px;
    line-height: 28px;
    &.e-p2--lineal-1-5{
      font-size: 21px;
    }
    &.e-p2--title{
      line-height: 26px;
    }
  }
  .e-p3{
    font-size: 22px;
  }
  .e-p4{
    font-size: 20px;
    line-height: 24px;
  }
  .e-p5{
    font-size: 18px;
  }
  .e-p6{
    font-size: 16px;
  }
}
