.p-landing{
  margin-top: 20px;
}

.p-landing__title{
  margin-bottom: 25px;
}

.p-landing__calculator-simbol{
  margin-top: 30px;
}

.p-landing__historic-price{
  margin-top: 30px;
}

.p-landing__historic-price-list{
  padding-left: 0;
}

.p-landing__historic-price-item{
  margin-bottom: 10px;
}

@media screen and (min-width: 480px){
  .p-landing{
    margin: 50px auto 0 auto;
  }
}

@media screen and (min-width: 768px){
  .p-landing{
    max-width: none;
  }

  .p-landing__title{
    margin-bottom: 40px;
  }

  .p-landing__calculator{
    max-width: 700px;
    margin: 0 auto;
  }

  .p-landing__historic-price{
    margin-top: 50px;
  }
}
